<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Signal Graphics -->
  <add key="ConfigurationFolderName" value="_Configuration" />
  <add key="ConfigurationSmartFormId" value="21" />
  <add key="ModelSiteFolderId" value="259" />
  <add key="ModelSiteConfigKeysCId" value="2828" />
  <!--value in minutes -->
  <add key="ConfigurationSettingsCacheValue" value="20" />
  <add key="EktronContentApiCustomPageSize" value="500" />
  <!--Flickr -->
  <!-- Created with Yahoo account:sirspeedyflickr/obi3-produce -->
  <add key="FlickrApiKey" value="6c4d93bb478d61a13ee1eb1247dd26f0"/>
  <add key="FlickrShardSecret" value="30bf1dd7a31290ac"/>  
  <!-- account:sirspeedyflickr/obi3-produce -->
  <add key="defaultFlickrUser" value="87913371@N06"/>
  <!--Twitter Login-->
  <!--production www.signalgraphics.com twitter keys-->
  <!--<add key="TwitterApiKey" value="6wmcJHfmWOHRpQDfI62BtcWKH" />
  <add key="TwitterSharedSecret" value="YOAdlzVu8SAlq0Y63kgqJWsjdCYUVFQw3u56AeFp3syKFmgW7T" />-->
  <!--production new.signalgraphics.com twitter keys-->
  <!--<add key="TwitterApiKey" value="dSCtnYIggi2vfw1trYheGpar6" />
  <add key="TwitterSharedSecret" value="JeTRs41pHeUGQAAMSlEk6iUapaswyq0Dn8MT4ON1O7SyWgJgHq" />-->  
  <!--author twitter keys-->
  <add key="TwitterApiKey" value="1s2uGn6x1hfrWonTwbOVqzCRj" />
  <add key="TwitterSharedSecret" value="Yf7RCSvWDbUGS3pZWl3lHwx288xg1LxrBil0eQAcu4nGax851b" />
  <!-- Facebook Login -->
  <!-- production www.signalgraphics.com appid 
  <add key="FacebookAppId" value="1638929276335294" />  
  <add key="FacebookAppSecret" value="2ebcbab369874d85242abf9c5da01b33" />-->
  <!-- production new.signalgraphics.com appid 
  <add key="FacebookAppId" value="912198992164816" />  
  <add key="FacebookAppSecret" value="86290517f989d008c47e1bc6003d8bce" />-->
  <!--devcloud devcloud.signalgraphics.com twitter keys-->
  <!--<add key="FacebookAppId" value="389308697928815" />
  <add key="FacebookAppSecret" value="8499b0a76ecc88d5908e96dcc3284823" />-->
  <!-- author appid -->
  <add key="FacebookAppId" value="412143125619552" /> <!--client's --> 
  <add key="FacebookAppSecret" value="bd381f5db18ab7b9442e20d6f9554346" />
  <!-- Scribd -->
  <add key="ScribdAPIKey" value="" />
  <!-- GoogleDrive and GooglePlus Login -->
  <!--<add key="GoogleDriveAPIDeveloperKey" value="AIzaSyB3rZ3uaWsxzbQi2sCURVSmgVmnZuJM_l0" />
  <add key="GoogleAPIClientId" value="574155198618-himns0ci3t54lob800llsrilgd2nlb02.apps.googleusercontent.com" /> developer's-->
  <add key="GoogleDriveAPIDeveloperKey" value="AIzaSyAWFK2dpCTFRt2PChD1Y7PMV5zdqQZH4e8" />
  <add key="GoogleAPIClientId" value="22137754785-af7qqn3t39j1qo76hudm1uu6mbtj644p.apps.googleusercontent.com" />
  <!--Google Map-->
  <add key="GoogleMapApiKey" value="AIzaSyAWFK2dpCTFRt2PChD1Y7PMV5zdqQZH4e8" />
  <!--Google Map work api keys -->
  <add key="GoogleMapRequestURL" value="https://maps.googleapis.com/maps/api/geocode/xml?address=" />
  <add key="GoogleMapWorkClientId" value="gme-franchiseservices" />
  <add key="GoogleMapWorkSigniture" value="IH_nB2gC_985Xp6vYIX29BTKVcs=" />
  <!--Franserv shared drive netwrk path-->
  <!-- Dropbox -->
  <!--<add key="DropBoxAPIKey" value="pvwnmb1grhj1ezh" />-->
  <add key="DropBoxAPIKey" value="fq0p67iq1hwculz" />
  <!-- Box -->
  <add key="BoxAPIClientId" value="tgjstiplt82u84juunxnktbp2qqfpr1x" />
  <add key="BoxAPIClientSecret" value="nvpzoynZ1NwochlvbOHeCpw4H9n6Qpe3" />  
  <!--Franserv shared drive netwrk path-->
  <add key="SISUploadedVirtualFolderPath" value="\\snap\Uploads\SIG\" />
  <add key="SISUploadedUserName" value="DSColdFusion" />
  <add key="SISUploadedPassword" value="x7qY-8vnB@!q" />
  <add key="SISUploadedDomain" value="PMG" />
  <!--Cache Keys-->
    <add key="CacheLevel1" value="300" />
    <add key="CacheLevel2" value="900" />
    <add key="CacheLevel3" value="1800" />
    <add key="CacheLevel4" value="3600" />
    <add key="CacheLevel5" value="7200" />
    <add key="CacheLevel6" value="21600" />
    <add key="CacheLevel7" value="43200" />
    <add key="CacheLevel8" value="86400" />
  <!-- /Signal Graphics -->
</appSettings>