<?xml version="1.0" encoding="utf-8"?>
<DocumentManagerData WebShareDir="/dmdata/" PdfGenerator="http://aspnet20.ektron.com/PdfManager/PdfGeneratorService.asmx" ServicePort="6079" PublishCatalogName="" PrivateCatalogName="" PublishCatalogLoc="" PrivateCatalogLoc="" ESyncLoadBalanced="0" InstalledVersion="2.01" StorageLocation="C:\inetpub\shared\assetlibrary\wwwsignalgraphicscom\" UserDomain="PMGWS11" LoadBalanced="0" DomainName="author.signalgraphics.com" FileTypes="*.odb,*.ods,*.odg,*.odp,*.odf,*.odt,*.doc,*.xls,*.ppt,*.pdf,*.gif,*.jpg,*.jpeg,*.log,*.vsd,*.dot,*.zip,*.swf,*.wma,*.wav,*.avi, *.mp3, *.mp4, *.rm, *.wmv, *.ra, *.mov, *.png, *.docx, *.xlsx, *.pptx, *.vsdx, *.wmf, *.xml, *.htm, *.html, *.flv, *.psd, *.tif, *.eps, *.indd, *.IDML, *.qxd"/>
