<?xml version="1.0" encoding="utf-8" ?>
<PageBuilderConfiguration ResizeDraggingEnabled="false">
    <Sizes>
        <SizeType Name="Pixels" EnumVal="0" Label="Width in pixels:" Enabled="true" />
        <SizeType Name="Em" EnumVal="1" Label="Width in em:" Enabled="true" />
        <SizeType Name="Percent" EnumVal="2" Label="Percent width:" Enabled="true" />
        <SizeType Name="Bootstrap" EnumVal="3" Label="Bootstrap" Enabled="true" DropZoneOuterClass="container" DropZoneClass="row">
            <Group Name="positioning" Label="Positioning">
                <DropDown Name="width" Label="Width:">
                    <CssClass ClassName="span1" Label="1 Column" />
                    <CssClass ClassName="span2" Label="2 Columns" />
                    <CssClass ClassName="span3" Label="3 Columns" />
                    <CssClass ClassName="span4" Label="4 Columns" />
                    <CssClass ClassName="span5" Label="5 Columns" />
                    <CssClass ClassName="span6" Label="6 Columns" />
                    <CssClass ClassName="span7" Label="7 Columns" />
                    <CssClass ClassName="span8" Label="8 Columns" />
                    <CssClass ClassName="span9" Label="9 Columns" />
                    <CssClass ClassName="span10" Label="10 Columns" />
                    <CssClass ClassName="span11" Label="11 Columns" />
                    <CssClass ClassName="span12" Label="12 Columns" />
                    <CssClass ClassName="rowsplit" Label="Split Row" />
                </DropDown>
                <DropDown Name="offset" Label="Offset:">
                    <CssClass ClassName="" Label="No Offset" />
                    <CssClass ClassName="offset1" Label="1 Column" />
                    <CssClass ClassName="offset2" Label="2 Columns" />
                    <CssClass ClassName="offset3" Label="3 Columns" />
                    <CssClass ClassName="offset4" Label="4 Columns" />
                    <CssClass ClassName="offset5" Label="5 Columns" />
                    <CssClass ClassName="offset6" Label="6 Columns" />
                    <CssClass ClassName="offset7" Label="7 Columns" />
                    <CssClass ClassName="offset8" Label="8 Columns" />
                    <CssClass ClassName="offset9" Label="9 Columns" />
                    <CssClass ClassName="offset10" Label="10 Columns" />
                    <CssClass ClassName="offset11" Label="11 Columns" />
                </DropDown>
            </Group>
            <Group Name="visibility" Label="Visibility">
                <DropDown Name="phone" Label="Phone:">
                    <CssClass ClassName="" Label="Default" />
                    <CssClass ClassName="visible-phone" Label="Visible" />
                    <CssClass ClassName="hidden-phone" Label="Invisible" />
                </DropDown>
                <DropDown Name="tablet" Label="Tablet:">
                    <CssClass ClassName="" Label="Default" />
                    <CssClass ClassName="visible-tablet" Label="Visible" />
                    <CssClass ClassName="hidden-tablet" Label="Invisible" />
                </DropDown>
                <DropDown Name="desktop" Label="Desktop:">
                    <CssClass ClassName="" Label="Default" />
                    <CssClass ClassName="visible-desktop" Label="Visible" />
                    <CssClass ClassName="hidden-desktop" Label="Invisible" />
                </DropDown>
            </Group>
            <CssInclude Path="~/workarea/FrameworkUI/css/bootstrap/css/bootstrap.css" />
            <CssInclude Path="~/workarea/FrameworkUI/css/bootstrap/css/bootstrap-responsive.css" />
            <CssInclude Path="~/workarea/FrameworkUI/css/bootstrap/css/bootstrap-compatibility.css" />
        </SizeType>
        <SizeType Name="Foundation" EnumVal="3" Label="Foundation" Enabled="false" DropZoneOuterClass="" DropZoneClass="row" ColumnClass="columns">
            <Group Name="largedisplay" Label="Large Display">
                <DropDown Name="largewidth" Label="Width:">
                    <CssClass ClassName="large-1" Label="1 Column" />
                    <CssClass ClassName="large-2" Label="2 Columns" />
                    <CssClass ClassName="large-3" Label="3 Columns" />
                    <CssClass ClassName="large-4" Label="4 Columns" />
                    <CssClass ClassName="large-5" Label="5 Columns" />
                    <CssClass ClassName="large-6" Label="6 Columns" />
                    <CssClass ClassName="large-7" Label="7 Columns" />
                    <CssClass ClassName="large-8" Label="8 Columns" />
                    <CssClass ClassName="large-9" Label="9 Columns" />
                    <CssClass ClassName="large-10" Label="10 Columns" />
                    <CssClass ClassName="large-11" Label="11 Columns" />
                    <CssClass ClassName="large-12" Label="12 Columns" />
                </DropDown>
                <DropDown Name="largeoffset" Label="Offset:">
                    <CssClass ClassName="" Label="None" />
                    <CssClass ClassName="large-offset-1" Label="1 Column" />
                    <CssClass ClassName="large-offset-2" Label="2 Columns" />
                    <CssClass ClassName="large-offset-3" Label="3 Columns" />
                    <CssClass ClassName="large-offset-4" Label="4 Columns" />
                    <CssClass ClassName="large-offset-5" Label="5 Columns" />
                    <CssClass ClassName="large-offset-6" Label="6 Columns" />
                    <CssClass ClassName="large-offset-7" Label="7 Columns" />
                    <CssClass ClassName="large-offset-8" Label="8 Columns" />
                    <CssClass ClassName="large-offset-9" Label="9 Columns" />
                    <CssClass ClassName="large-offset-10" Label="10 Columns" />
                    <CssClass ClassName="large-offset-11" Label="11 Columns" />
                </DropDown>
                <DropDown Name="largecentered" Label="Center Column:">
                    <Value Label="No" ClassName="" />
                    <Value Label="Yes" ClassName="large-centered" />
                </DropDown>
            </Group>
            <Group Name="smalldisplay" Label="Small Display">
                <DropDown Name="smallwidth" Label="Width:">
                    <CssClass ClassName="small-1" Label="1 Column" />
                    <CssClass ClassName="small-2" Label="2 Columns" />
                    <CssClass ClassName="small-3" Label="3 Columns" />
                    <CssClass ClassName="small-4" Label="4 Columns" />
                    <CssClass ClassName="small-5" Label="5 Columns" />
                    <CssClass ClassName="small-6" Label="6 Columns" />
                    <CssClass ClassName="small-7" Label="7 Columns" />
                    <CssClass ClassName="small-8" Label="8 Columns" />
                    <CssClass ClassName="small-9" Label="9 Columns" />
                    <CssClass ClassName="small-10" Label="10 Columns" />
                    <CssClass ClassName="small-11" Label="11 Columns" />
                    <CssClass ClassName="small-12" Label="12 Columns" />
                </DropDown>
                <DropDown Name="smalloffset" Label="Offset:">
                    <CssClass ClassName="" Label="None" />
                    <CssClass ClassName="small-offset-1" Label="1 Column" />
                    <CssClass ClassName="small-offset-2" Label="2 Columns" />
                    <CssClass ClassName="small-offset-3" Label="3 Columns" />
                    <CssClass ClassName="small-offset-4" Label="4 Columns" />
                    <CssClass ClassName="small-offset-5" Label="5 Columns" />
                    <CssClass ClassName="small-offset-6" Label="6 Columns" />
                    <CssClass ClassName="small-offset-7" Label="7 Columns" />
                    <CssClass ClassName="small-offset-8" Label="8 Columns" />
                    <CssClass ClassName="small-offset-9" Label="9 Columns" />
                    <CssClass ClassName="small-offset-10" Label="10 Columns" />
                    <CssClass ClassName="small-offset-11" Label="11 Columns" />
                </DropDown>
                <DropDown Name="smallcentered" Label="Center Column:">
                    <Value Label="No" ClassName="" />
                    <Value Label="Yes" ClassName="small-centered" />
                </DropDown>
            </Group>
            <Group Name="displayorder" Label="Display Order">
                <DropDown Name="pushpull" Label="Push or Pull:">
                    <CssClass ClassName="" Label="None" />
                    <CssClass ClassName="pull-1" Label="Pull 1 Column" />
                    <CssClass ClassName="pull-2" Label="Pull 2 Columns" />
                    <CssClass ClassName="pull-3" Label="Pull 3 Columns" />
                    <CssClass ClassName="pull-4" Label="Pull 4 Columns" />
                    <CssClass ClassName="pull-5" Label="Pull 5 Columns" />
                    <CssClass ClassName="pull-6" Label="Pull 6 Columns" />
                    <CssClass ClassName="pull-7" Label="Pull 7 Columns" />
                    <CssClass ClassName="pull-8" Label="Pull 8 Columns" />
                    <CssClass ClassName="pull-9" Label="Pull 9 Columns" />
                    <CssClass ClassName="pull-10" Label="Pull 10 Columns" />
                    <CssClass ClassName="pull-11" Label="Pull 11 Columns" />
                    <CssClass ClassName="push-1" Label="Push 1 Column" />
                    <CssClass ClassName="push-2" Label="Push 2 Columns" />
                    <CssClass ClassName="push-3" Label="Push 3 Columns" />
                    <CssClass ClassName="push-4" Label="Push 4 Columns" />
                    <CssClass ClassName="push-5" Label="Push 5 Columns" />
                    <CssClass ClassName="push-6" Label="Push 6 Columns" />
                    <CssClass ClassName="push-7" Label="Push 7 Columns" />
                    <CssClass ClassName="push-8" Label="Push 8 Columns" />
                    <CssClass ClassName="push-9" Label="Push 9 Columns" />
                    <CssClass ClassName="push-10" Label="Push 10 Columns" />
                    <CssClass ClassName="push-11" Label="Push 11 Columns" />
                </DropDown>
            </Group>
            <Group Name="Visibility" Label="Visibility">
                <DropDown Name="" Label="Small (&lt;768px)">
                    <Value Label="Default" ClassName="" />
                    <Value Label="Visible" ClassName="show-for-small" />
                    <Value Label="Hidden" ClassName="hide-for-small" />
                </DropDown>
                <DropDown Name="Medium" Label="Medium (&gt;768px &amp; &lt;1280px)">
                    <Value Label="Default" ClassName="" />
                    <Value Label="Visible" ClassName="show-for-medium" />
                    <Value Label="Hidden" ClassName="hide-for-medium" />
                </DropDown>
                <DropDown Name="Large" Label="Large (&lt;1440px &amp; &gt;1280px)">
                    <Value Label="Default" ClassName="" />
                    <Value Label="Visible" ClassName="show-for-large" />
                    <Value Label="Hidden" ClassName="hide-for-large" />
                </DropDown>
                <DropDown Name="Xlarge" Label="X Large (&gt;1440px)">
                    <Value Label="Default" ClassName="" />
                    <Value Label="Visible" ClassName="show-for-xlarge" />
                    <Value Label="Hidden" ClassName="hide-for-xlarge" />
                </DropDown>
                <DropDown Name="Landscape" Label="Landscape">
                    <Value Label="Default" ClassName="" />
                    <Value Label="Visible" ClassName="show-for-landscape" />
                    <Value Label="Hidden" ClassName="hide-for-landscape" />
                </DropDown>
                <DropDown Name="Portrait" Label="Portrait">
                    <Value Label="Default" ClassName="" />
                    <Value Label="Visible" ClassName="show-for-portrait" />
                    <Value Label="Hidden" ClassName="hide-for-portrait" />
                </DropDown>
                <DropDown Name="Touch" Label="Touch">
                    <Value Label="Default" ClassName="" />
                    <Value Label="Visible" ClassName="show-for-touch" />
                    <Value Label="Hidden" ClassName="hide-for-touch" />
                </DropDown>
            </Group>
            <CssInclude Path="~/workarea/FrameworkUI/css/foundation/css/normalize.css" />
            <CssInclude Path="~/workarea/FrameworkUI/css/foundation/css/foundation.css" />
        </SizeType>
    </Sizes>
</PageBuilderConfiguration>