<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- SIRSPEEDY -->
  <add key="ConfigurationFolderName" value="_Configuration" />
  <add key="ConfigurationSmartFormId" value="21" />
  <add key="ModelSiteFolderId" value="259" />
  <add key="ModelSiteConfigKeysCId" value="3048" />
  <!--value in minutes -->
  <add key="ConfigurationSettingsCacheValue" value="20" />
  <add key="EktronContentApiCustomPageSize" value="250" />
  <!--Flickr -->
  <!-- Created with Yahoo account:sirspeedyflickr/obi3-produce -->
  <add key="FlickrApiKey" value="6c4d93bb478d61a13ee1eb1247dd26f0"/>
  <add key="FlickrShardSecret" value="30bf1dd7a31290ac"/>  
  <!-- account:sirspeedyflickr/obi3-produce -->
  <add key="defaultFlickrUser" value="87913371@N06"/>
  <!--Twitter Login for prod-->
  <!--<add key="TwitterApiKey" value="48m7WJC5zUSeFEyzi10Pdmmay" />
  <add key="TwitterSharedSecret" value="oTN16PUIjLgJHITF38Vlbh4MnVLPVRvKtkucO2tUMV8KiQLObu" />-->
  <!--Twitter Login for author-->
  <add key="TwitterApiKey" value="SQ49xS0F3BGvBMwfxz6JoPgxa" />
  <add key="TwitterSharedSecret" value="AEfqrKBY4bjkADM2GXTbY2p0jx4WbRAJAaqPh6yvBTm4l3XGMj" />
  <!-- Facebook Login -->  
  <!--For www.pip.com -->
  <!--<add key="FacebookAppId" value="1637106746513179" />
  <add key="FacebookAppSecret" value="2f28b188900bde33bf3388626cf76d9e" />-->
  <!--For author.pip.com -->
  <add key="FacebookAppId" value="1512442875711903" /> <!--client's -->
  <add key="FacebookAppSecret" value="f360d6ea4e2924eac66c4d8a791eb98c" />
  <!-- Scribd -->
  <add key="ScribdAPIKey" value="" />
  <!-- GoogleDrive and GooglePlus Login -->
  <!--<add key="GoogleDriveAPIDeveloperKey" value="AIzaSyB3rZ3uaWsxzbQi2sCURVSmgVmnZuJM_l0" />
  <add key="GoogleAPIClientId" value="574155198618-himns0ci3t54lob800llsrilgd2nlb02.apps.googleusercontent.com" /> developer's-->
  <!--<add key="GoogleDriveAPIDeveloperKey" value="AIzaSyCFPxnUbQTGEzH9HA5TUSjVoFLCh_BiB3I" />
  <add key="GoogleAPIClientId" value="486410919953-1pcslbbuebmcng5cgff6ftsos0677jsp.apps.googleusercontent.com" />-->
  <add key="GoogleDriveAPIDeveloperKey" value="AIzaSyDpOWSC-nBpoH7uzmsqpPRccBF3lLBeCUw" />
  <add key="GoogleAPIClientId" value="739735955034-vqnepc4hp8j9in2ddfjv31k50eu6oc31.apps.googleusercontent.com" />
  <!-- Dropbox -->
  <!--<add key="DropBoxAPIKey" value="pvwnmb1grhj1ezh" />-->
  <!--<add key="DropBoxAPIKey" value="rnkxavi2k2q45su" />-->
  <add key="DropBoxAPIKey" value="q4uljxmsbd03l8j" />
  <!-- Box -->
  <!--<add key="BoxAPIClientId" value="o0mtcy4o66rjld88yyacmdoyllut7gjp" />
  <add key="BoxAPIClientSecret" value="gXRh5tKGuqoYguCxBCAnY8p3eTnYYAeu" />-->
  <add key="BoxAPIClientId" value="yhg8fqwcnu4jd6mb72hgyyhpluwl5sac" />
  <add key="BoxAPIClientSecret" value="h3mMeQTIGj6uzZrLT5wTTA7GNAijHl4Y" />
  <!--Google Map-->
  <!--Franserv shared drive netwrk path-->
  <add key="GoogleMapApiKey" value="AIzaSyDpOWSC-nBpoH7uzmsqpPRccBF3lLBeCUw" />
  <!--Google Map work api keys -->
  <add key="GoogleMapRequestURL" value="https://maps.googleapis.com/maps/api/geocode/xml?address=" />
  <add key="GoogleMapWorkClientId" value="gme-franchiseservices" />
  <add key="GoogleMapWorkSigniture" value="IH_nB2gC_985Xp6vYIX29BTKVcs=" />
  <!--Franserv shared drive netwrk path-->
  <add key="SISUploadedVirtualFolderPath" value="\\snap\Uploads\PIP\" />
  <add key="SISUploadedUserName" value="DSColdFusion" />
  <add key="SISUploadedPassword" value="x7qY-8vnB@!q" />
  <add key="SISUploadedDomain" value="PMG" />
  <!--Cache Keys-->
  <add key="CacheLevel1" value="300" />
  <add key="CacheLevel2" value="900" />
  <add key="CacheLevel3" value="1800" />
  <add key="CacheLevel4" value="3600" />
  <add key="CacheLevel5" value="7200" />
  <add key="CacheLevel6" value="21600" />
  <add key="CacheLevel7" value="43200" />
  <add key="CacheLevel8" value="86400" />
  <!-- /PIP -->
</appSettings>