<dxhRules>
  <Connector name="Salesforce">
    <ConnectorObject name="Lead">
	  <add name="Company Name" value="Company"/>
      <add name="Industry" value="Industry"/>
      <add name="Number of Employees" value="NumberOfEmployees"/>
      <add name="Revenue" value="AnnualRevenue"/>
      <add name="Products Owned" value="Products Owned"/>
      <add name="Product Interest" value="ProductInterest"/>
      <add name="Score" value="Rating"/>
    </ConnectorObject>
  </Connector>
  <Connector name="MSDynamicCRM">
    <ConnectorObject name="lead">
	  <add name="Company Name" value="companyname"/>
      <add name="Industry" value="industrycode"/>
      <add name="Number of Employees" value="numberofemployees"/>
      <add name="Revenue" value="revenue"/>
      <add name="Promotion" value="new_leadproduct"/>
      <add name="Score" value="leadqualitycode"/>
    </ConnectorObject>
  </Connector>
  <Connector name="Marketo">
    <ConnectorObject name="Activity">
	  <add name="Opened email" value="Open Email"/>
      <add name="Sent email" value="Send Email"/>
    </ConnectorObject>
  </Connector>
  <Connector name="HubSpot">
    <ConnectorObject name="HubSpot.Contact">
      <add name="Email Address" value="email"/>
      <add name="Company" value="company"/>
      <add name="First Name" value="firstname"/>
      <add name="Last Name" value="lastname"/>
      <add name="Address" value="address"/>
      <add name="City" value="city"/>
      <add name="State" value="state"/>
      <add name="Country" value="country"/>
    </ConnectorObject>
  </Connector>
</dxhRules>