<!-- This file should go in the root of your website -->
<mimeTypeConfiguration>
  <add key="323" value="text/h323" />
  <add key="acx" value="application/internet-property-stream" />
  <add key="ai" value="application/postscrip" />
  <add key="aif" value="audio/x-aiff" />
  <add key="aifc" value="audio/x-aiff" />
  <add key="aiff" value="audio/x-aiff" />
  <add key="asf" value="video/x-ms-asf" />
  <add key="asx" value="video/x-ms-asf" />
  <add key="au" value="audio/basic" />
  <add key="avi" value="video/x-msvideo" />
  <add key="axs" value="application/olescript" />
  <add key="bas" value="text/plain" />
  <add key="bcpio" value="application/x-bcpio" />
  <add key="bin" value="application/octet-stream" />
  <add key="bmp" value="image/x-xbitmap" />
  <add key="c" value="text/plain" />
  <add key="cat" value="application/vnd.ms-pkiseccat" />
  <add key="cdf" value="application/x-netcdf" />
  <add key="class" value="application/octet-stream" />
  <add key="cer" value="application/x-x509-ca-cert" />
  <add key="clp" value="application/x-msclip" />
  <add key="cmx" value="image/x-cmx" />
  <add key="cod" value="image/cis-cod" />
  <add key="cpio" value="application/x-cpi" />
  <add key="cpt" value="application/mac-compactpro" />
  <add key="crd" value="application/x-mscardfile" />
  <add key="crl" value="application/pkix-crl" />
  <add key="crt" value="application/x-x509-ca-cert" />
  <add key="csh" value="application/x-cs" />
  <add key="css" value="text/css" />
  <add key="dcr" value="application/x-director" />
  <add key="der" value="application/x-x509-ca-cert" />
  <add key="dir" value="application/x-director" />
  <add key="dll" value="application/octet-stream" />
  <add key="dms" value="application/octet-stream" />
  <add key="doc" value="application/msword" />
  <add key="dot" value="application/msword" />
  <add key="dtd" value="text/xml" />
  <add key="dvi" value="application/x-dvi" />
  <add key="dwg" value="application/octet-stream" />
  <add key="dxr" value="application/x-director" />
  <add key="eps" value="application/postscript" />
  <add key="etx" value="text/x-setext" />
  <add key="evy" value="application/x-envoy" />
  <add key="exe" value="application/octet-stream" />
  <add key="fif" value="application/fractals" />
  <add key="flr" value="x-world/x-vrml" />
  <add key="fli" value="application/octet-stream" />
  <add key="gif" value="image/gif" />
  <add key="gl" value="application/octet-stream" />
  <add key="gtar" value="application/x-gtar" />
  <add key="gz" value="application/x-gzip" />
  <add key="h" value="text/plain" />
  <add key="hdf" value="application/x-hdf" />
  <add key="hlp" value="application/winhlp" />
  <add key="hpx" value="application/mac-binhex40" />
  <add key="hqx" value="application/mac-binhex40" />
  <add key="htm" value="text/html" />
  <add key="hta" value="application/hta" />
  <add key="htc" value="text/x-component" />
  <add key="html" value="text/html" />
  <add key="htt" value="text/webviewhtml" />
  <add key="ice" value="x-conference/x-cooltalk" />
  <add key="ico" value="image/x-icon" />
  <add key="ief" value="image/ief" />
  <add key="iii" value="application/x-iphone" />
  <add key="iges" value="model/iges" />
  <add key="igs" value="model/iges" />
  <add key="ins" value="application/x-internet-signup" />
  <add key="isp" value="application/x-internet-signup" />
  <add key="isv" value="bws-internal/intrasrv-urlencoded" />
  <add key="jfm" value="bws-internal/intrasrv-form" />
  <add key="jfif" value="image/pipeg" />
  <add key="jpe" value="image/jpeg" />
  <add key="jpeg" value="image/jpeg" />
  <add key="jpg" value="image/jpeg" />
  <add key="jrp" value="bws-internal/intrasrv-report" />
  <add key="js" value="application/x-javascript" />
  <add key="kar" value="audio/midi" />
  <add key="latex" value="application/x-latex" />
  <add key="lha" value="application/octet-stream" />
  <add key="ls" value="application/x-javascript" />
  <add key="lsf" value="application/x-javascript" />
  <add key="lsx" value="video/x-la-asf" />
  <add key="lzh" value="application/octet-stream" />
  <add key="m13" value="application/x-msmediaview" />
  <add key="m14" value="application/x-msmediaview" />
  <add key="m3u" value="audio/x-mpegurl" />
  <add key="man" value="application/x-troff-man" />
  <add key="mdb" value="application/x-msaccess" />
  <add key="me" value="application/x-troff-me" />
  <add key="mht" value="message/rfc822" />
  <add key="mhtml" value="message/rfc822" />
  <add key="mesh" value="model/mesh" />
  <add key="mid" value="audio/midi" />
  <add key="midi" value="audio/midi" />
  <add key="mif" value="application/x-mif" />
  <add key="mocha" value="application/x-javascript" />
  <add key="mov" value="video/quicktime" />
  <add key="movie" value="video/x-sgi-movie" />
  <add key="mp2" value="audio/mpeg" />
  <add key="mp3" value="audio/mpeg" />
  <add key="mp4" value="video/mp4" />
  <add key="mpa" value="video/mpeg" />
  <add key="mpe" value="video/mpeg" />
  <add key="mpeg" value="video/mpeg" />
  <add key="mpp" value="application/vnd.ms-project" />
  <add key="mpv2" value="video/mpeg" />
  <add key="mpg" value="video/mpeg" />
  <add key="mpga" value="audio/mpeg" />
  <add key="ms" value="application/x-troff-ms" />
  <add key="msh" value="model/mesh" />
  <add key="mvb" value="application/x-msmediaview" />
  <add key="nws" value="message/rfc822" />
  <add key="nc" value="application/x-netcdf" />
  <add key="oda" value="application/oda" />
  <add key="p10" value="application/x-pkcs10" />
  <add key="p12" value="application/x-pkcs12" />
  <add key="p7b" value="application/x-pkcs7-certificates" />
  <add key="p7c" value="application/x-pkcs7-mime" />
  <add key="p7m" value="application/x-pkcs7-mime" />
  <add key="p7r" value="application/x-pkcs7-certreqresp" />
  <add key="p7s" value="application/x-pkcs7-signature" />
  <add key="pac" value="application/x-ns-proxy-autoconfig" />
  <add key="pbm" value="image/x-portable-bitmap" />
  <add key="pdb" value="chemical/x-pdb" />
  <add key="pdf" value="application/pdf" />
  <add key="pgm" value="image/x-portable-graymap" />
  <add key="php3" value="application/x-httpd-php3" />
  <add key="phtml-msql2" value="application/x-httpd-php-msql2" />
  <add key="phtml" value="application/x-httpd-php" />
  <add key="pko" value="application/ynd.ms-pkipko" />
  <add key="pma" value="application/x-perfmon" />
  <add key="pmc" value="application/x-perfmon" />
  <add key="pml" value="application/x-perfmon" />
  <add key="pmr" value="application/x-perfmon" />
  <add key="pmw" value="application/x-perfmon" />
  <add key="png" value="image/png" />
  <add key="pnm" value="image/x-portable-anymap" />
  <add key="ppm" value="image/x-portable-pixmap" />
  <add key="pot" value="application/vnd.ms-powerpoint" />
  <add key="pps" value="application/vnd.ms-powerpoint" />
  <add key="ppt" value="application/vnd.ms-powerpoint" />
  <add key="prf" value="application/pics-rules" />
  <add key="pub" value="application/x-mspublisher" />
  <add key="ps" value="application/postscript" />
  <add key="qt" value="video/quicktime" />
  <add key="ra" value="audio/x-realaudio" />
  <add key="ram" value="audio/x-pn-realaudio" />
  <add key="ras" value="image/x-cmu-raster" />
  <add key="rgb" value="image/x-rgb" />
  <add key="rm" value="video/x-realvideo" />
  <add key="rmi" value="audio/mid" />
  <add key="roff" value="application/x-troff" />
  <add key="rpm" value="aaudio/x-pn-realaudio-plugin" />
  <add key="rtf" value="application/rtf" />
  <add key="rtx" value="text/richtext" />
  <add key="scd" value="application/x-msschedule" />
  <add key="sct" value="text/scriptlet" />
  <add key="scm" value="application/octet-stream" />
  <add key="setpay" value="application/set-payment-initiation" />
  <add key="setreg" value="application/set-registration-initiation" />
  <add key="sgm" value="text/x-sgml" />
  <add key="sgml" value="text/x-sgml" />
  <add key="sh" value="application/x-sh" />
  <add key="shar" value="application/x-shar" />
  <add key="silo" value="model/mesh" />
  <add key="sit" value="application/x-stuffit" />
  <add key="skd" value="application/x-koan" />
  <add key="skm" value="application/x-koan" />
  <add key="skp" value="application/x-koan" />
  <add key="skt" value="application/x-koan" />
  <add key="snd" value="audio/basic" />
  <add key="src" value="application/x-wais-source" />
  <add key="spc" value="application/x-pkcs7-certificates" />
  <add key="spl" value="application/futuresplash" />
  <add key="sst" value="application/vnd.ms-pkicertstore" />
  <add key="stl" value="application/vnd.ms-pkistl" />
  <add key="stm" value="text/html" />
  <add key="sv4cpio" value="application/x-sv4cpio" />
  <add key="sv4crc" value="application/x-sv4crc" />
  <add key="swf" value="application/x-shockwave-flash" />
  <add key="t" value="application/x-troff" />
  <add key="tar" value="application/x-tar" />
  <add key="tcl" value="application/x-tcl" />
  <add key="tex" value="application/x-tex" />
  <add key="texi" value="application/x-texinfo" />
  <add key="texinfo" value="application/x-textinfo" />
  <add key="text" value="text/plain" />
  <add key="tgz" value="application/x-compressed" />
  <add key="tif" value="image/tiff" />
  <add key="tiff" value="image/tiff" />
  <add key="tr" value="application/x-troff" />
  <add key="tsp" value="application/dsptype" />
  <add key="trm" value="application/x-msterminal" />
  <add key="tsv" value="text/tab-separated-values" />
  <add key="txt" value="text/plain" />
  <add key="uls" value="text/iuls" />
  <add key="ustar" value="application/x-ustar" />
  <add key="vcd" value="application/x-cdlink" />
  <add key="vcf" value="text/x-vcard" />
  <add key="vox" value="audio/voxware" />
  <add key="vrml" value="model/vrml" />
  <add key="wav" value="audio/x-wav" />
  <add key="wax" value="audio/x-ms-wax" />
  <add key="wcm" value="application/vnd.ms-works" />
  <add key="wdb" value="application/vnd.ms-works" />
  <add key="wks" value="application/vnd.ms-works" />
  <add key="wm" value="video/x-ms-wm" />
  <add key="wma" value="audio/x-ms-wma" />
  <add key="wmd" value="application/x-ms-wmd" />
  <add key="wmf" value="application/x-msmetafile" />
  <add key="wmv" value="video/x-ms-wmv" />
  <add key="wmx" value="video/x-ms-wmx" />
  <add key="wmz" value="application/x-ms-wmz" />
  <add key="wps" value="application/vnd.ms-works" />
  <add key="wri" value="application/x-mswrite" />
  <add key="wrl" value="x-world/x-vrml" />
  <add key="wrz" value="x-world/x-vrml" />
  <add key="wvx" value="video/x-ms-wvx" />
  <add key="xaf" value="x-world/x-vrml" />
  <add key="xbm" value="image/x-xbitmap" />
  <add key="xla" value="application/vnd.ms-excel" />
  <add key="xlc" value="application/vnd.ms-excel" />
  <add key="xlm" value="application/vnd.ms-excel" />
  <add key="xlt" value="application/vnd.ms-excel" />
  <add key="xlw" value="application/vnd.ms-excel" />
  <add key="xml" value="text/xml" />
  <add key="xpm" value="image/x-xpixmap" />
  <add key="xof" value="x-world/x-vrml" />
  <add key="xwd" value="aimage/x-xwindowdump" />
  <add key="xyz" value="chemical/x-pdb" />
  <add key="xls" value="application/vnd.ms-excel" />
  <add key="z" value="application/x-compress" />
  <add key="zip" value="application/zip" />
  <add key="vsd" value="application/vnd.visio" />
  <!-- Open Office -->
  <add key="odt" value="application/vnd.oasis.opendocument.text" />
  <add key="ott" value="application/vnd.oasis.opendocument.text-template" />
  <add key="oth" value="application/vnd.oasis.opendocument.text-web" />
  <add key="odm" value="application/vnd.oasis.opendocument.text-master" />
  <add key="odg" value="application/vnd.oasis.opendocument.graphics" />
  <add key="otg" value="application/vnd.oasis.opendocument.graphics-template" />
  <add key="odp" value="application/vnd.oasis.opendocument.presentation" />
  <add key="otp" value="application/vnd.oasis.opendocument.presentation-template" />
  <add key="ods" value="application/vnd.oasis.opendocument.spreadsheet" />
  <add key="ots" value="application/vnd.oasis.opendocument.spreadsheet-template" />
  <add key="odc" value="application/vnd.oasis.opendocument.chart" />
  <add key="odf" value="application/vnd.oasis.opendocument.formula" />
  <add key="odb" value="application/vnd.oasis.opendocument.database" />
  <add key="odi" value="application/vnd.oasis.opendocument.image" />
  <add key="docm" value="application/vnd.ms-word.document.macroEnabled.12" />
  <add key="docx" value="application/vnd.openxmlformats-officedocument.wordprocessingml.document" />
  <add key="dotm" value="application/vnd.ms-word.template.macroEnabled.12" />
  <add key="dotx" value="application/vnd.openxmlformats-officedocument.wordprocessingml.template" />
  <add key="potm" value="application/vnd.ms-powerpoint.template.macroEnabled.12" />
  <add key="potx" value="application/vnd.openxmlformats-officedocument.presentationml.template" />
  <add key="ppam" value="application/vnd.ms-powerpoint.addin.macroEnabled.12" />
  <add key="ppsm" value="application/vnd.ms-powerpoint.slideshow.macroEnabled.12" />
  <add key="ppsx" value="application/vnd.openxmlformats-officedocument.presentationml.slideshow" />
  <add key="pptm" value="application/vnd.ms-powerpoint.presentation.macroEnabled.12" />
  <add key="pptx" value="application/vnd.openxmlformats-officedocument.presentationml.presentation" />
  <add key="xlam" value="application/vnd.ms-excel.addin.macroEnabled.12" />
  <add key="xlsb" value="application/vnd.ms-excel.sheet.binary.macroEnabled.12" />
  <add key="xlsm" value="application/vnd.ms-excel.sheet.macroEnabled.12" />
  <add key="xlsx" value="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
  <add key="xltm" value="application/vnd.ms-excel.template.macroEnabled.12" />
  <add key="xltx" value="application/vnd.openxmlformats-officedocument.spreadsheetml.template" />
  <add key="flv" value="video/x-flv" />
  <add key="f4v" value="video/mp4" />
  <add key="svg" value="image/svg+xml" />
  <add key="default" value="application/octet-stream" />
</mimeTypeConfiguration>