/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;margin:0;} /* Hide the slides before the JS is loaded. Avoids image jumping */
/*.flexslider .slides .flex-image {
  float:right;
  margin: 27px 0 0 0;
  width: 50%;
}
.flexslider .slides img {
  display: block; 
  max-width:100%;
  max-height:100%; 
  
}*/
.main_rotator .flexslider .slides .flex-image {
  float: left;
  /*height: 640px;*/
  margin: 0;
  position: relative;
  width: 100%;
}
.main_rotator .flexslider .slides img {
  display: block;
  /*max-height: 100%;*/
  max-width:none;
  width: 100%;
  /*position: absolute;
  top: 16%;
  width: 82%;*/
}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider {margin: 0; padding:0;position: relative;  zoom: 1;}
.flex-viewport {margin: 0;max-height: 640px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.flexslider .slides {zoom: 1;text-align:center;}

.carousel li {margin-right: 5px}

.main_rotator .slide_container{
  margin:0 auto;
  position:relative;
}

/* Direction Nav */
.flex-direction-nav li{margin:0;}
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {
  background: url("../images/arrow_icon_slider_white.png") no-repeat 5% 50% rgba(255,255,255,0.15);
  cursor: pointer;
  display: block;
  height: 100%;
  margin: 0 0;
  position: absolute;
  text-indent: -9999px;
  top: 0;
  width: 105px;
  z-index: 0;
  text-shadow: none;
  opacity:0;
  
}
.flex-direction-nav a:hover {
  opacity:1;
}
.svg .flex-direction-nav a {background: url(../images/bg_direction_nav.svg) no-repeat 0 0 transparent; }
.svg .flex-direction-nav .flex-next, .flex-direction-nav .flex-next {background-position: 95% 50%; right: 0;;}
.svg .flex-direction-nav .flex-prev, .flex-direction-nav .flex-prev {left: 0;}
.flexslider:hover .flex-next {opacity: 1;}
.flexslider:hover .flex-prev {opacity: 1;}
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {opacity: 1;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: 20px; text-align: center;opacity:0;}
.flex-control-nav li {margin: 0 0.65%; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 22px; height: 22px; display: block; background: #666; background: #ffffff; cursor: pointer; text-indent: -9999px; width: 22px; height: 22px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; position:relative;   }

.lt-ie9 .flex-control-paging li a {
 
    z-index: 0;
    position: relative;
    behavior: url(js/PIE.htc);
  }
.flexslider:hover .flex-control-nav {opacity: 1;}



.flex-control-paging li a:hover { background: #FF9000; }
.flex-control-paging li a.flex-active { background: #FF9000; cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; max-width:475px; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

/*.flex-caption{width:40%;max-width:460px;float:left;margin:10px 10px 0; height: 280px; position: relative;}
.flex-caption h4 {
  color: #FFFFFF;
  font-family: 'Montserrat',Arial;
  font-size: 4.575em;
  line-height: 1;
  text-shadow: 1px 1px 1px #000000;
  text-transform: uppercase;
  margin: 0;
  position: absolute;
  bottom: 0;
  
}*/
.main_rotator .flex-caption {
  float: left;
  display:block;
  text-align:left;
  right: 15%;
    position: absolute;
    top: 90px;
    width: 30%;
  
}
.main_rotator .flex-caption h4 {
  color: #FFFFFF;
  font-family: 'Raleway',Arial, Helvetica, sans-serif;
  font-weight:700;
  text-shadow:1px 1px 0 #555555;
  font-size: 65px;
  line-height: 100%;
  margin: 0;
 /*  position: absolute;
  top: 27%;*/
  text-transform: uppercase;
  
  transition:all 0.5s ease;
}
.main_rotator .flex-caption p{
	color:#ffffff;
	text-transform:uppercase;
	font-size:25px;
}

.main_rotator .cta-button-wrap.white{
	padding:5px 14px;
	width:150px;
	background:transparent;
	border-color:#ffffff;
}
.main_rotator .cta-button-wrap.white a{
	
	text-align:center;
	font-size:12px;
}
.main_rotator .cta-button-wrap.white a span{
	color:#ffffff !important;
}
/* Local Site Homepage */

.local #top_slider ul.slides li {
  
}
.local .main_rotator .flex-caption {
  
}
.local .main_rotator .flexslider .slides .flex-image {
  
}
.local .main_rotator .flex-caption h4 {
  
}
.local .main_rotator .flex-caption .cta {
  
}
.local #top_slider .flex-control-paging li a.flex-active {
 
}
.local .main_rotator .flex-control-nav li {
  
}

/**** End local styles ****/

.flex-caption p{font-size:25px;line-height:1.5em;font-family: 'Raleway',Arial, Helvetica, sans-serif;
	font-weight:600;}
.flex-caption .cta-button-wrap{
	padding:10px 24px;
}

.flex-caption .cta-button-wrap span{
	font-size:18px;
	font-weight:800;
	color:#FFFFFF;
	line-height: 28px;
}

.flexslider .slides > li:first-child {display: block;}

#top_slider {
  margin: 0 auto;
 /* max-width: 1200px; */
 max-width: 2100px;
  width: 100%;
  /*max-height: 600px;*/
}
.flex-viewport {
  /*height: 375px;
  height: 500px;*/
}
#top_slider ul.slides, #top_slider ul.slides li {
	height: 100%;
}
#top_slider ul.slides li {
}

.lt-ie9 #top_slider ul.slides li {
	z-index: 0;
  	position: relative;
	display:block;
	background-color: #000000;

  }
.main_rotator .container_24 .grid_24 {
    margin: 0;
    width: 100%;
}



@media screen and (max-width: 830px) {
  .svg .flex-direction-nav .flex-prev {left: 0;}
  .svg .flex-direction-nav .flex-next {right: 0;}
}


@media screen and (min-width: 30.063em) and (max-width: 35em){
	.main_rotator .flex-caption{width:40%;right:5%;top:30px;}
	
	.main_rotator .flex-caption p {font-size: 14px;}
	
	.flex-caption .cta-button-wrap {padding: 5px 24px !important;}
	.flex-caption .cta-button-wrap span {font-size: 14px;}
	
}
@media screen and (min-width: 35.063em) and (max-width: 53.063em){
	.main_rotator .flexslider .slides img{width:100% !important;}
	
	.main_rotator .flex-caption{top:7%;right:5%;width:40%;}
	.main_rotator .flex-caption h4{font-size:38px;}
	.main_rotator .flex-caption p{font-size:20px;}
}
@media screen and (min-width: 53.125em) and (max-width: 62.688em){
	.main_rotator .flexslider .slides img{width:100% !important;}
	
	.main_rotator .flex-caption{top:7%;right:5%;width:40%;}
	.main_rotator .flex-caption h4{font-size:38px;}
	.main_rotator .flex-caption p{font-size:20px;}
}
@media screen and (min-width: 62.75em) and (max-width: 78.125em){
	.main_rotator .flexslider .slides img{width:100% !important;}
	
	.main_rotator .flex-caption{top:50px;}
	.main_rotator .flex-caption h4{font-size:45px;}
	.main_rotator .flex-caption p{font-size:20px;}
}
@media screen and (min-width: 78.188em) and (max-width: 81.188em){
	.main_rotator .flexslider .slides img{width:100% !important;}
	
	.main_rotator .flex-caption{top:60px;}
	.main_rotator .flex-caption h4{font-size:50px;}
}
@media screen and (min-width: 81.25em) and (max-width: 93.688em){
	
	.main_rotator .flex-caption{top:60px;}
	.main_rotator .flex-caption h4{font-size:55px;}
}
@media screen and (min-width: 93.75em) and (max-width: 103.75em){
	
	.main_rotator .flex-caption{}
	.main_rotator .flex-caption h4{font-size:60px;}
	
}


/*styles for 1100px and up @ 16px!*/

@media screen and (min-width: 68.75em){
	
	.main_rotator .flex-viewport {
   max-height: auto;
   height:100%;
  }
	
	#top_slider ul.slides li {
   /* height: 593px;*/
  }
  
 .main_rotator  .flexslider .slides img {
    width: 100%;
    height:auto !important;
  }
}

@media screen and (max-width: 28.438em){
	
}
@media screen and (max-width: 30em){
	.main_rotator .flex-caption{width:50%; top:30px;right:2%;}
	.main_rotator .flex-caption h4{
		font-size:25px;
	}
	.main_rotator .flex-caption p{
		font-size:15px;
		line-height:120%;
	}
	
	.flex-caption .cta-button-wrap{padding:5px 12px !important;}
	.flex-caption .cta-button-wrap span{font-size:13px;}
	
	.flex-direction-nav a{display:none;}
	
 .local #top_slider ul.slides li {
	background-position: 60% top;
	background-size: 190%;
  }
  
  .local .main_rotator .flex-caption {width: 62.5%;top:5%;}
  .local .main_rotator .flex-caption h4 {
	font-size: 28px;
	line-height: 32px;
	margin: 20px 0 15px;
	text-align: left;
  }
  .local .main_rotator .flex-caption .cta{
	  font-size:15px;
	  height:38px;
	  line-height:18px;
	  padding:6px 10px;
	  text-align:left;
	  width:130px;
  }
 

}
@media screen and (max-width: 29.938em){
	.main_rotator .flexslider .slides img{
	    width:160%;	
	}
	.main_rotator .flex-caption h4{font-size:18px;margin:20px 0;}
	.main_rotator .flex-caption p{display:none;}
	.flex-control-nav{opacity:1;bottom:10px;}
	.flex-control-nav li{margin:0 2%;}
	
}
@media screen and (min-width: 25em) and (max-width: 29.938em){
	.main_rotator .flex-caption h4{
		font-size:25px;
	}
	.main_rotator .flex-caption p{display:none;}
	
    .local #top_slider ul.slides li {
	background-position: 60% top;
	background-size: 190%;
  }
  
  .local .main_rotator .flex-caption {width: 56.5%;}
  .local .main_rotator .flex-caption h4 {
	font-size: 28px;
	line-height: 32px;
	margin: 20px 0 15px;
	text-align: left;
	width:84%;
  }
  .local .main_rotator .flex-caption .cta{
	  font-size:15px;
	  height:38px;
	  line-height:18px;
	  padding:6px 10px;
	  text-align:left;
	  width:130px;
  }

}

@media screen and (min-width: 29.125em) and (max-width: 33.750em){
	.main_rotator .flex-caption h4{
		font-size:25px;
	}
	.main_rotator .flexslider .slides img{
	    width:100%;	
		
	}
	
	 .local #top_slider ul.slides li {
	background-position: 60% top;
	background-size: 190%;
  }
  
  .local .main_rotator .flex-caption {width: 56.5%;}
  .local .main_rotator .flex-caption h4 {
	font-size: 33px;
	line-height: 34px;
	margin: 20px 0 10px;
	text-align: left;
	width:84%;
  }
  .local .main_rotator .flex-caption .cta{
	  font-size:15px;
	  height:38px;
	  line-height:18px;
	  padding:6px 10px;
	  text-align:left;
	  width:130px;
  }
    
}
@media screen and (min-width: 33.813em) and (max-width: 35em){
	.main_rotator .flex-caption h4{
		font-size:25px;
	}
	.main_rotator .flexslider .slides img{
	    width:100%;	
		
	}
	
	.local .main_rotator .flex-viewport {
height: 353px;
}
	 .local #top_slider ul.slides li {
	background-position: 60% top;
	background-size: 190%;
  }
  
  .local .main_rotator .flex-caption {width: 56.5%;}
  .local .main_rotator .flex-caption h4 {
	font-size: 38px;
	line-height: 39px;
	margin: 20px 0 10px;
	text-align: left;
	width:88%;
  }
  .local .main_rotator .flex-caption .cta{
	  font-size:15px;
	  height:38px;
	  line-height:18px;
	  padding:6px 10px;
	  text-align:left;
	  width:130px;
  }
    
}
@media screen and (min-width: 35.063em) and (max-width: 43.5em){
	.main_rotator .flex-caption h4{
		font-size:25px;
	}
	
	.main_rotator .flexslider .slides img{
	    width:100%;	
	}
	
	.local .main_rotator .flex-viewport {
height: 353px;
}
	 .local #top_slider ul.slides li {
	background-position: 60% top;
	background-size: 190%;
  }
  
  .local .main_rotator .flex-caption {width: 56.5%;}
  .local .main_rotator .flex-caption h4 {
	font-size: 43px;
	line-height: 43px;
	margin: 20px 0 3px;
	text-align: left;
	width:88%;
  }
  .local .main_rotator .flex-caption .cta{
	  font-size:16px;
	  height:30px;
	  line-height:30px;
	  padding:6px 10px;
	  text-align:left;
	  width:220px;
  }
    
}
@media screen and (min-width: 43.563em) and (max-width: 46em){
	
	
	.local .main_rotator .flex-viewport {
       height: 373px;
    }
	 .local #top_slider ul.slides li {
	background-position: 60% top;
	background-size: 190%;
  }
  
  .local .main_rotator .flex-caption {width: 56.5%;}
  .local .main_rotator .flex-caption h4 {
	font-size: 47px;
	line-height: 47px;
	margin: 20px 0 3px;
	text-align: left;
	width:90%;
  }
  .local .main_rotator .flex-caption .cta{
	  font-size:17px;
	  height:30px;
	  line-height:30px;
	  padding:6px 10px;
	  text-align:left;
	  width:240px;
  }
    
}




@media screen and (min-width: 46.063em) and (max-width: 53.063em){
	
	.local #top_slider ul.slides li {background-position:80% top; background-size:150%;}
    .local .main_rotator .flex-caption {width:44%;}
	.local .main_rotator .flex-caption h4 {font-size: 44px;line-height:50px;margin: 50px 0 15px;width: 96%;}
	.local .main_rotator .flex-caption .cta{width:92%;font-size:25px;}

}
@media screen and (min-width: 53.125em) and (max-width: 60.563em){
	.local #top_slider ul.slides li {background-position:100% top; background-size:120%;}
    .local .main_rotator .flex-caption {/*left: 4%;width:68%;*/top:80px;}
	.local .main_rotator .flex-caption h4 {font-size: 52px;line-height:60px;width: 100%;}
	.local .main_rotator .flex-caption .cta{width:92%;font-size:29px;}

}

@media screen and (min-width: 60.625em) and (max-width: 71.188em){
	.local #top_slider ul.slides li {background-position:100% top; background-size:130%;}
    .local .main_rotator .flex-caption h4 {font-size: 64px;}
	.local .main_rotator .flex-caption .cta{width:92%;}

}
@media screen and (min-width: 60.625em) and (max-width: 68.688em){
	.local .main_rotator .flex-caption {/*left: 9%;*/top:80px;width:40%;}
	/*.local .main_rotator .flex-caption h4 {font-size: 60px;}*/
}

@media screen and (min-width: 68.75em) and (max-width: 83.750em){
	.local #top_slider ul.slides li {/*background-position:80% top;*/ background-size:140%;}
    .local .main_rotator .flex-caption {/*left: -7%;*/width:40%;}
	.local .main_rotator .flex-caption h4 {font-size: 64px;}
	.local .main_rotator .flex-caption .cta{width:92%;}

}