<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- SIRSPEEDY -->
  <add key="ConfigurationFolderName" value="_Configuration" />
  <add key="ConfigurationSmartFormId" value="21" />
  <add key="ModelSiteFolderId" value="259" />
  <add key="ModelSiteConfigKeysCId" value="2828" />
  <!--value in minutes -->
  <add key="ConfigurationSettingsCacheValue" value="20" />
  <add key="EktronContentApiCustomPageSize" value="500" />
  <!--Flickr -->
  <!-- Created with Yahoo account:sirspeedyflickr/obi3-produce -->
  <add key="FlickrApiKey" value="6c4d93bb478d61a13ee1eb1247dd26f0"/>
  <add key="FlickrShardSecret" value="30bf1dd7a31290ac"/>  
  <!-- account:sirspeedyflickr/obi3-produce -->
  <add key="defaultFlickrUser" value="87913371@N06"/>
  <!--Twitter Login-->
  <!--production twitter keys-->
  <!--<add key="TwitterApiKey" value="vRjUOtOdrE1AU5VyRsFrnQbWJ" />
  <add key="TwitterSharedSecret" value="9cjcj0azpSznl26UF9mwfcCsT8VaBIbfrGgihFLoMnwBS4rMCS" />-->
  <!--author twitter keys-->
  <add key="TwitterApiKey" value="ZDWFppY2UOxovNAgxbOnVbEAa" />
  <add key="TwitterSharedSecret" value="ZEk9NBulDVILW6pP3viEjqsbrRC6RGO7tqbtwVpAoJOEl72kuv" />
  <!-- Facebook Login -->
  <!-- production appid 
  <add key="FacebookAppId" value="661401510607306" />  
  <add key="FacebookAppSecret" value="3f36193782d3be4566a63b8636bd3f31" />-->
  <!--devcloud devcloud.signalgraphics.com twitter keys-->
  <!--<add key="FacebookAppId" value="470848363073021" />
  <add key="FacebookAppSecret" value="e9a536d9508a1ba0e038503daaed37a5" />-->
  <!-- author appid -->
  <add key="FacebookAppId" value="255819854613281" /> <!--client's --> 
  <add key="FacebookAppSecret" value="d4ec11d1657aa6ae39cbeb596c9b1f61" />
  <!-- Scribd -->
  <add key="ScribdAPIKey" value="" />
  <!-- GoogleDrive and GooglePlus Login -->
  <!--<add key="GoogleDriveAPIDeveloperKey" value="AIzaSyB3rZ3uaWsxzbQi2sCURVSmgVmnZuJM_l0" />
  <add key="GoogleAPIClientId" value="574155198618-himns0ci3t54lob800llsrilgd2nlb02.apps.googleusercontent.com" /> developer's-->
  <add key="GoogleDriveAPIDeveloperKey" value="AIzaSyCFPxnUbQTGEzH9HA5TUSjVoFLCh_BiB3I" />
  <add key="GoogleAPIClientId" value="486410919953-1pcslbbuebmcng5cgff6ftsos0677jsp.apps.googleusercontent.com" />
  <!-- Dropbox -->
  <!--<add key="DropBoxAPIKey" value="pvwnmb1grhj1ezh" />-->
  <add key="DropBoxAPIKey" value="rnkxavi2k2q45su" />
  <!-- Box -->
  <add key="BoxAPIClientId" value="o0mtcy4o66rjld88yyacmdoyllut7gjp" />
  <add key="BoxAPIClientSecret" value="gXRh5tKGuqoYguCxBCAnY8p3eTnYYAeu" />
  <!--Google Map-->
  <add key="GoogleMapApiKey" value="AIzaSyCFPxnUbQTGEzH9HA5TUSjVoFLCh_BiB3I" />
  <!--Google Map work api keys -->
  <add key="GoogleMapRequestURL" value="https://maps.googleapis.com/maps/api/geocode/xml?address=" />
  <add key="GoogleMapWorkClientId" value="gme-franchiseservices" />
  <add key="GoogleMapWorkSigniture" value="IH_nB2gC_985Xp6vYIX29BTKVcs=" />
  <!--Franserv shared drive netwrk path-->
  <add key="SISUploadedVirtualFolderPath" value="\\snap\Uploads\SSI\" />
  <add key="SISUploadedUserName" value="DSColdFusion" />
  <add key="SISUploadedPassword" value="x7qY-8vnB@!q" />
  <add key="SISUploadedDomain" value="PMG" />
  <!--Cache Keys-->
    <add key="CacheLevel1" value="300" />
    <add key="CacheLevel2" value="900" />
    <add key="CacheLevel3" value="1800" />
    <add key="CacheLevel4" value="3600" />
    <add key="CacheLevel5" value="7200" />
    <add key="CacheLevel6" value="21600" />
    <add key="CacheLevel7" value="43200" />
    <add key="CacheLevel8" value="86400" />
  <!-- /SIRSPEEDY -->
</appSettings>