<unity>
  <typeAliases>
    <!-- ************Interfaces ************************************************-->
    <typeAlias alias="ILogWriter" type="Ektron.PersonaManagement.Logging.ILogWriter, Ektron.PersonaManagement.Logger" />
    <typeAlias alias="IPersonaManager" type="Ektron.PersonaManagement.Common.Contracts.IPersonaManager, Ektron.PersonaManagement.Common" />
    <typeAlias alias="IPersonaRuleManager" type="Ektron.PersonaManagement.Common.Contracts.IPersonaRuleManager, Ektron.PersonaManagement.Common" />
    <typeAlias alias="IPersonaAttributeRespository" type="Ektron.PersonaManagement.Common.Contracts.IPersonaAttributeRespository, Ektron.PersonaManagement.Common" />
    <typeAlias alias="IRuleEvaluator" type="Ektron.PersonaManagement.Common.Contracts.IRuleEvaluator, Ektron.PersonaManagement.Common" />
    <typeAlias alias="IPersonaConnection" type="Ektron.PersonaManagement.Common.Contracts.IPersonaConnection, Ektron.PersonaManagement.Common" />

    <!-- ************ Persona Business Object Implementations **************************************-->
    <typeAlias alias="BusinessObjects.ILogWriter" type="Ektron.PersonaManagement.Logging.LogWriter, Ektron.PersonaManagement.Logger"/>
    <typeAlias alias="BusinessObjects.IPersonaManager" type="Ektron.PersonaManagement.BusinessObjects.Persona, Ektron.PersonaManagement"/>
    <typeAlias alias="BusinessObjects.IPersonaRuleManager" type="Ektron.PersonaManagement.BusinessObjects.PersonaRuleCache, Ektron.PersonaManagement"/>
    <typeAlias alias="BusinessObjects.IPersonaAttributeRespository" type="Ektron.PersonaManagement.BusinessObjects.PersonaAttributeCache, Ektron.PersonaManagement"/>
    <typeAlias alias="BusinessObjects.IRuleEvaluator" type="Ektron.PersonaManagement.BusinessObjects.AllRulesTrueEvaluator, Ektron.PersonaManagement"/>
    <typeAlias alias="BusinessObjects.IPersonaConnection" type="Ektron.PersonaManagement.BusinessObjects.PersonaConnectionCache, Ektron.PersonaManagement"/>

    <!-- ************ Persona WCF Implementations **************************************-->
    <typeAlias alias="WCF.IPersonaManager" type="Ektron.PersonaManagement.Framework.Services.Persona.PersonaServiceClient, Ektron.PersonaManagement.Framework"/>


  </typeAliases>
  <containers>
    <container name="Persona.BusinessObjects">
      <type type="ILogWriter" mapTo="BusinessObjects.ILogWriter"/>
      <type type="IPersonaManager" mapTo="BusinessObjects.IPersonaManager"/>
      <type type="IPersonaRuleManager" mapTo="BusinessObjects.IPersonaRuleManager"/>
      <type type="IPersonaAttributeRespository" mapTo="BusinessObjects.IPersonaAttributeRespository"/>
      <type type="IRuleEvaluator" mapTo="BusinessObjects.IRuleEvaluator"/>
      <type type="IPersonaConnection" mapTo="BusinessObjects.IPersonaConnection"/>
    </container>

    <container name="Persona.WCF">
      <type type="ILogWriter" mapTo="BusinessObjects.ILogWriter"/>
      <type type="IPersonaManager" mapTo="WCF.IPersonaManager"/>
    </container>
  </containers>
</unity>

