<objectFactory>
  <objectStrategies>
	  <add name="Content">
		  <strategies>
			  <add name="GoogleGeoCoder" type="Cms.Extensions.GoogleGeoCoder.ContentStrategy, Cms.Extensions.GoogleGeoCoder"/>
        <add name="ExpireOnPublish" type="SirSpeedy.CMS.ExpireCacheOnPublish"/>
        <add name="UpdateClonedSiteContent" type="SirSpeedy.CMS.UpdateClonedSiteContentOnPublish"/>
		    <add name="UpdateLocalSiteContentAlias" type="SirSpeedy.CMS.CloneContentAliasOnPublish"/>
		  </strategies>
	  </add>
	  <add name="User">
		  <strategies>
			  <add name="GoogleGeoCoder" type="Cms.Extensions.GoogleGeoCoder.UserStrategy, Cms.Extensions.GoogleGeoCoder"/>
		  </strategies>
	  </add>
	  <add name="CatalogEntry">
		  <strategies>
			  <add name="GoogleGeoCoder" type="Cms.Extensions.GoogleGeoCoder.CatalogEntryStrategy, Cms.Extensions.GoogleGeoCoder"/>
		  </strategies>
	  </add>
    <add name="Library">
      <strategies>
        <add name="GoogleGeoCoder" type="Cms.Extensions.GoogleGeoCoder.LibraryStrategy, Cms.Extensions.GoogleGeoCoder"/>
      </strategies>
    </add>
	  <add name="Form">
          <strategies>
              
          </strategies>
	  </add>
  </objectStrategies>
</objectFactory>