<?xml version="1.0" encoding="utf-8" ?>
<shipmentProvider defaultProvider="FlatRateShipmentProvider">
	<providers>
		<add name="FedExShipmentProvider" type="Ektron.Cms.Commerce.Providers.Shipment.FedExShipmentProvider, Ektron.Cms.Commerce.Providers" serviceUrl="https://gatewaybeta.fedex.com/web-services" key="" password="" accountNumber="" meterNumber="" transactionId="Ektron FedEx v3 based transaction"/>
		<add name="FlatRateShipmentProvider" type="Ektron.Cms.Commerce.Providers.Shipment.FlatRateShipmentProvider, Ektron.Cms.Commerce.Providers" serviceUrl="" key="" password="" accountNumber="" meterNumber="" transactionId="Ektron FlatRate v3 based transaction"/>
	<add name="UPSShipmentProvider" type="Ektron.Cms.Commerce.Providers.Shipment.UPSShipmentProvider, Ektron.Cms.Commerce.Providers" serviceUrl="https://wwwcie.ups.com/ups.app/xml/Rate" key="" password="" accountNumber="" meterNumber="" transactionId="Ektron UPS v3 based transaction"/>
	</providers>
</shipmentProvider>
