<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- SIRSPEEDY -->
  <add key="ConfigurationFolderName" value="_Configuration" />
  <add key="ConfigurationSmartFormId" value="21" />
  <add key="ModelSiteFolderId" value="259" />
  <add key="ModelSiteConfigKeysCId" value="2828" />
  <!--value in minutes -->
  <add key="ConfigurationSettingsCacheValue" value="20" />
  <add key="EktronContentApiCustomPageSize" value="250" />
  <!--Flickr -->
  <!-- Created with Yahoo account:sirspeedyflickr/obi3-produce -->
  <add key="FlickrApiKey" value="6c4d93bb478d61a13ee1eb1247dd26f0"/>
  <add key="FlickrShardSecret" value="30bf1dd7a31290ac"/>  
  <!-- account:sirspeedyflickr/obi3-produce -->
  <add key="defaultFlickrUser" value="87913371@N06"/>
  <!--Twitter Login-->
  <!--<add key="TwitterApiKey" value="2dxxb7eEcgWiNoDhFpt6yX5z6" />
  <add key="TwitterSharedSecret" value="N1wYBZ8XvZ5JD2pxy75oQcw70zR8vnMDlTNC7nJBy5DhOUEePU" />-->
  <add key="TwitterApiKey" value="ZDWFppY2UOxovNAgxbOnVbEAa" />
  <add key="TwitterSharedSecret" value="ZEk9NBulDVILW6pP3viEjqsbrRC6RGO7tqbtwVpAoJOEl72kuv" />
  <!-- Facebook Login -->
  <!--<add key="FacebookAppId" value="390446137764015" /> developer's-->
  <!-- 661401803940610 for sirspeedy.com -->
  <add key="FacebookAppId" value="255819854613281" /> <!--client's --> 
  <add key="FacebookAppSecret" value="bd6985b0192559ddcd0cfdfa20761276" />
  <!-- Scribd -->
  <add key="ScribdAPIKey" value="" />
  <!-- GoogleDrive and GooglePlus Login -->
  <!--<add key="GoogleDriveAPIDeveloperKey" value="AIzaSyB3rZ3uaWsxzbQi2sCURVSmgVmnZuJM_l0" />
  <add key="GoogleAPIClientId" value="574155198618-himns0ci3t54lob800llsrilgd2nlb02.apps.googleusercontent.com" /> developer's-->
  <add key="GoogleDriveAPIDeveloperKey" value="AIzaSyCFPxnUbQTGEzH9HA5TUSjVoFLCh_BiB3I" />
  <add key="GoogleAPIClientId" value="486410919953-1pcslbbuebmcng5cgff6ftsos0677jsp.apps.googleusercontent.com" />
  <!-- Dropbox -->
  <!--<add key="DropBoxAPIKey" value="pvwnmb1grhj1ezh" />-->
  <add key="DropBoxAPIKey" value="rnkxavi2k2q45su" />
  <!-- Box -->
  <add key="BoxAPIClientId" value="o0mtcy4o66rjld88yyacmdoyllut7gjp" />
  <add key="BoxAPIClientSecret" value="gXRh5tKGuqoYguCxBCAnY8p3eTnYYAeu" />
  <!--Google Map-->
  <add key="GoogleMapApiKey" value="AIzaSyDGF1KG6WSbJVdZ9TN66U3EMNA9wYIalFc" />
  <!--Google Map work api keys -->
  <add key="GoogleMapRequestURL" value="https://maps.googleapis.com/maps/api/geocode/xml?address=" />
  <add key="GoogleMapWorkClientId" value="gme-franchiseservices" />
  <add key="GoogleMapWorkSigniture" value="IH_nB2gC_985Xp6vYIX29BTKVcs=" />
  <!-- /SIRSPEEDY -->
</appSettings>