/* ww_locations.css */

#home-locations {
	 font-family: 'Montserrat', Arial;
}
#locations-wrapper {
    background: #DF1B23;
   /* box-shadow: 0px 3px 6px #444444 inset; */
   box-shadow: 0 5px 8px #830B10 inset;
}
.maps-wrapper {
    /*height: 350px;*/
    width: 100%;
	display:block;
}
.maps-inner {
  	margin: 0 auto;
   	/*width: 92%;
     color: #820106;*/
	 max-width:1200px;
	 text-align:center;
}
.maps-inner h2 {
    /*font-size: 32px;
    padding: 0px 0 5px;
    text-align: center;
    text-transform: uppercase;*/
    color: #820106;
}
.maps-inner ul {
  margin: 0 auto 20px;
  padding: 0;
  text-align:center;
  /*min-height:220px;*/
  display:block;
}
.maps-inner ul li {
    border: 1px solid #820208;
    border-width: 0 0 0 1px;
    /*float: left;*/
	display:inline-block;
    list-style: none;
    text-align: center;
    width: 16%;
    margin-left: 0;
    padding: 0 20px;
    box-shadow: 1px 0 #FF000B inset;
}
.maps-inner ul li:first-child {
    border-left: none;
   padding-left: 0;
    margin: 0;
    box-shadow:  none;
}
.maps-inner ul li:last-child {
  padding-right: 0;
}
.maps-inner ul li a {
    color: #490003;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  	display:block;
  	margin: 0 auto;
}
.location-figure {
   display:block;
   width: 100%;
   /*max-width: 155px;*/
   margin: 0 auto;
}
.location-name {
	display:block;
	height: 33px;
	position: relative;
	/*margin-top: -17px;*/
	margin-top: 0;
}
.location-name span {
 	bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
	font-size: 11px;
}
.location-figure div {
	padding-top: 83.33%;
	background-repeat: no-repeat;
	background-size: cover;
	-moz-background-size: cover;  /* Firefox 3.6 */
 	background-position: center;  /* Internet Explorer 7/8 */
}
.maps-inner ul li a#africa:hover .location-figure div { 
  background-image: url(../images/locations/africa-hover.png);
} 
.maps-inner ul li a#africa .location-figure div { 
  background-image: url(../images/locations/africa.png);
} 
.maps-inner ul li a#asia:hover .location-figure div { 
  background-image: url(../images/locations/asia-hover.png);
} 
.maps-inner ul li a#asia .location-figure div { 
  background-image: url(../images/locations/asia.png);
} 
.maps-inner ul li a#north-america:hover .location-figure div { 
  background-image: url(../images/locations/north-america-hover.png);
} 
.maps-inner ul li a#north-america .location-figure div { 
  background-image: url(../images/locations/north-america.png);
  background-position: 0 0;
} 
.maps-inner ul li a#europe:hover .location-figure div { 
  background-image: url(../images/locations/europe-hover.png);
} 
.maps-inner ul li a#europe .location-figure div { 
  background-image: url(../images/locations/europe.png);
} 
.maps-inner ul li a#south-america:hover .location-figure div { 
  background-image: url(../images/locations/south-america-hover.png);
} 
.maps-inner ul li a#south-america .location-figure div { 
  background-image: url(../images/locations/south-america.png);
} 

.statement-wrapper {
    background: url("../images/bg-people.jpg") repeat-x 0 0;
    /*box-shadow: 0px -5px 7px -4px #444444 inset;*/
    box-shadow: 0 -8px 8px -1px #BBBBBB inset;    
    /*height: 232px;*/
   /* margin: -32px 0 0 0;*/
   margin:0;
    padding: 0;
	display:block;
	float:left;
	width:100%;
}
/*
.statement-wrapper:before {
    border-left: 47px solid transparent;
    border-right: 47px solid transparent;
    border-top: 20px solid #DF1B23;
    content: " ";
    height: 0;
    left: 45%;
    position: absolute;
    width: 0;
}*/
.statement-wrapper:before {
  background: url("../images/bg-arrow-red.png") no-repeat 0 0 transparent;
  content: " ";
  height: 26px;
  margin:0 auto;
  position: relative;
  width: 136px;
  display: block;
  z-index: 100;
  
}
.statement-text {
    margin: 0 auto;
	width: 100%;
}
.ww_locations .statement-text{text-align:center;}
.statement-text p {
   /* color: #656565;
    font-family: Arial;
    font-size: 2.2em;
    font-weight: normal;
    line-height: 1.6;
    padding: 0 3em;
    font-style: italic;*/
    
    color: #656565;
    font-family: 'FuturaBT-MediumItalic',Arial,Helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
    line-height: 50px;
    /*padding: 0.5em 3em;
    padding: 0.5em 2.7em 0 0.5em;*/
    padding: 25px 0 20px;
    font-style: normal;
	width:70%;
	margin:0 auto;
	transition:all 0.5s ease ;
}

.statement-text span {
    color: #DF1B23;
}

@media screen and (max-width: 40em) {
/*	#locations-wrapper {border-top:5px solid yellow;} */
	
	#locations-wrapper {
		-moz-box-shadow: 0 7px 7px #830B10 inset;
		-webkit-box-shadow: 0 7px 7px #830B10 inset;
		box-shadow: 0 7px 7px #830B10 inset;
		overflow: auto;
	}
	#locations-wrapper .container_24 .grid_24{margin:0 !important;padding:0 !important;width:100% !important;}
	.maps-wrapper {
		 height: auto;
	}
	.maps-inner {
		height: 100%;
		width: 100%;
	}
	.maps-inner h2 {
		font-size: 1.6em;
		padding-top: 2%;
	}
	.maps-inner ul {
  	padding: 0;
	}
	.maps-inner ul li,
	.maps-inner ul li:first-child {
		border-width: 0 0 1px 0;
		 box-shadow: 0px 1px #FF000B inset;
		width: 96%;
		height: 20%;
		padding: 2% 2% 0;
		display:block;
		float:left;
	}
	.maps-inner ul li:first-child{box-shadow:none;}
	
	.maps-inner ul li:last-child {
		border-bottom: none;
		padding-bottom: 20px;
	}
	.maps-inner ul li .location-figure {
		width: 20%;
		float:left; 
		margin: 0 5%;
	}
	.maps-inner ul li .location-name {
		float: left;
		margin: 7% 2%;
		height: auto;
	}
	.maps-inner ul li .location-name span {
	    position: static;
	}
	.maps-inner ul li a{
	    padding: 0 14%;	
	}
	.statement-wrapper {
		/*height: 225px;*/	}
	
	.statement-text {
	    width: 100%;
	}
  .statement-text p {
    font-size: 23px;
    line-height: 1.4;
    margin-bottom: 0;
    text-align: center;
	width:100%;
  }
	/*.statement-text p {
	font-size: 27px;
		line-height: 1.4;
		padding: 1.2em 0;
		text-align: center;
	}*/
	
	

}
/*styles for 480px - 620px @ 16px!*/
@media screen and (min-width: 40.063em) and (max-width: 40em)   {
	/*#locations-wrapper {border-top:5px solid green;}*/
	
	/*.statement-text p {
	  font-size: 27px;
	  padding-top: 0.1em;
	  margin-bottom: 0;
	  padding-bottom: 0;
	}
	.maps-inner h2 {
		font-size: 2.6em;
	}
	
	 .maps-inner ul li {
    width: 100%;
    box-shadow: 0px 1px #FF000B inset;
  }
	 .statement-wrapper:before {
    left: 37%;
  }
  .location-name span {
    font-size: 12px;
  }*/

}
/*641 to 799px*/
@media screen and (min-width: 40.063em) and (max-width: 49.938em){

/*@media screen and (min-width: 38.75em) and (max-width: 49.9em){ */
	/*#locations-wrapper{border-top:5px solid red;}*/
	
	.maps-wrapper {
    /*height: 265px;*/
  }
	
	.maps-inner ul li .location-name {
	  margin-top: 0;
	  height: 50px;
	}
	.maps-inner ul {
    padding: 0;    
  }
  
  .maps-inner ul{text-align:center;}
  
  .maps-inner ul li {
	  width: 14%; 
	  display:inline-block;
	  float:none;
    }
  .maps-inner ul li:first-child {
    padding-left: 0px;
  }
  
	.statement-text p {
    width:95%;
	line-height:130%;
    font-size: 26px;
  }
  
}


@media screen and (min-width: 50em) and (max-width: 68.688em) {
	/* #locations-wrapper {border-top:5px solid blue;} */

	
	.location-name {
	  margin-top: -15px;
	  margin-top: 5px;
	}
	.maps-inner ul li {
	  width: 14.6%; 
	 }
   
	.statement-text p {
		 width:95%;
	line-height:130%;
    font-size: 30px;
	}
	
		
}

/*styles for 1100px and up @ 16px!*/
@media screen and (min-width: 68.75em){
 /*	#locations-wrapper {border-top:5px solid orange;} */
	/*.maps-wrapper {
		height: 350px;
	}
	.statement-text {
	  min-width: 76%;
	}
	.location-name span {
	 /* font-size: 1em; 
	}*/
}

p.statement-text{
    color: #656565;
    font-family: 'FuturaBT-MediumItalic',Arial,Helvetica,sans-serif;
    font-size: 34px;
    font-style: normal;
    font-weight: normal;
    line-height: 50px;
    margin: 0 auto;
    padding: 25px 0 20px;
    transition: all 0.5s ease 0s;  
}
