.sub_navigation.join_our_team #join-our-team-desktop-nav {
  display: block;
}

.join_content_headline{
  margin-bottom: 25px;
}

h2.xlarge {
  text-align: center;
  font-size: 56px;
  font-family: futurand-bold, montserrat, arial;
  line-height: 1;
  margin-bottom:  0;
}
.join_content h2.red.large {
  font-size: 42px;
  color: #df1b23;
  line-height: 57px;
  font-family: montserrat, arial;
  font-weight: 700;
  margin-top: 0;
}
.join_content h4 {
  margin-bottom: 0;
}
.join_content .statement-text p {
  font-size: 28px;
  line-height: 32px;
  margin-top: 0;
  padding: 0;
  text-align: center;
}

.join_content .inner-border {
  border: 6px solid #ffffff;
}

/* Flexslider */
.main_rotator.join_our_team .slide_container {
  display: none;
}
.join_our_team #top_slider ul.slides li {
  /*background: url("../images/fpo/slider_join_us_1.jpg") no-repeat scroll center top;*/
  margin: 0;
  height: 500px;
}

#find_job_wrapper {
  background: url("../images/bg-join-us-gray.jpg") top center;
   margin: 30px auto 60px;
  min-height: 220px;
}

#ctl00_cphMainContent_cbFindJob {
  max-height: 100px;
}

#find_job h2, #find_job p {
  color: #FFFFFF;
  text-shadow: 1px 1px #000000;
}
#find_job h2 {
  font-size: 30px;
  line-height: 45px;
  margin-bottom: 0;
  margin-top: 35px;
}
#find_job .cta-button-wrap {
  margin: 10px auto;
  max-width: 263px;
  text-transform: uppercase;
}

#job_profile_intro .cta-button-wrap {
  margin-top: 20px;
}

/* bxSlider - Job Profiles */
#job_profile_slider {
  margin-bottom: 50px;
}
#job_profile_slider .bx-wrapper .bx-viewport {
  width: 1200px !important;
  left: 13px;
  min-height: 525px !important;
}
#job_profile_slider .slider-wrapper li {
  text-align: left;
}

#job_profile_slider h3 {
  font-family: montserrat,arial;
  font-size: 23px;
  margin: 10px 0;
  font-weight: 400;
}
#job_profile_slider .cta-button-wrap {
  max-width: 130px;
}

#job_profile_slider .bx-wrapper .bx-prev, #job_profile_slider .bx-wrapper .bx-next {
  background: url("../images/arrow_icon_slider_white.png") no-repeat 5px 50% #b1b1b1;
} 
#job_profile_slider .bx-wrapper .bx-next, #job_profile_slider .bx-wrapper .bx-next:hover {
    background-position: 107% 50%;
    right: 0;
}
#job_profile_slider .bx-wrapper .bx-prev:hover, 
#job_profile_slider .bx-wrapper .bx-next:hover {
    background-color: #D7131B; 
}

/*860px to 1075px*//*26.250em  47.438em*/
@media screen and (max-width:  51.625em){
   /*join content*/
   .join_content .container_24 .grid_13,
   .join_content .container_24 .grid_10{padding: 0 1% !important;width: 98% !important;margin:0;}
	.join_content .inner-border{max-width:100%;margin:0 auto;}
 
   /*join our team - find a job*/
   #find_job_wrapper{margin:30px auto;}
   
   /*job profile intro*/
    #job_profile_intro .grid_20{width: 98%;text-align:center;}
	#job_profile_intro .grid_4{width: 98%;}
	#job_profile_intro .grid_4 .cta-button-wrap{min-width:149px;max-width:169px;text-align:center;margin:0 auto;}
	
	/*job profile slider*/
	#job_profile_slider{margin:20px 0 40px;}
	
}
@media screen and (max-width: 38.688em){
	#job_profile_slider .slider-wrapper li{height:auto !important;}
	
	#job_profile_slider .bx-wrapper .bx-viewport {
		   left:0;
		   height: auto !important;
		}
	#job_profile_slider h3, #job_profile_slider p {
	  		padding: 0 10px;
	}
	
	#job_profile_slider .cta-button-wrap {
	  		margin-left: 10px;
	}
}

/* 320px */
@media screen and (max-width: 20em) {
	#job_profile_slider .bx-wrapper .bx-viewport {
	  width: 80% !important;
	}
}


/* 480px */
@media screen and (max-width: 30em) {
	#job_profile_slider .bx-wrapper .bx-viewport {
	  width: 61% !important;
	}
}


/* 768px */
@media screen and (min-width:30.1em) and (max-width: 48em) {
	#job_profile_slider .bx-wrapper .bx-viewport {
		   /*width: 570px !important;*/
		   width: 80% !important;
		}
	#job_profile_slider .slider-wrapper li {
		  max-width: 290px !important;
		  margin-right: 30px !important;
	}
}

/* 816px */
@media screen and (max-width: 51em) {
		#job_profile_slider .bx-wrapper .bx-viewport {
       /*width: 720px !important;*/
	   left:0;
	}
}

@media screen and (max-width: 64em){

}
/*827px to 1160px*//**/
@media screen and (min-width:51.688em ) and (max-width: 74.5em) {
	
	
	.join_content .container_24 .grid_13{margin-left:1%;}
	.join_content .inner-border{max-width:100%;}
	
	#job_profile_intro .grid_20{width: 79.333%;}
	#job_profile_intro .grid_4{width: 18.667%;}
	#job_profile_intro .grid_4 .cta-button-wrap{min-width:149px;max-width:169px;}
	
	#job_profile_slider .bx-wrapper .bx-viewport{
		/*width:780px !important;*/
		width:792px !important;
		left:0;
	}
}
/*1192px to 1241px*/
@media screen and (min-width: 74.563em) and (max-width: 77.5em){
	
	#job_profile_slider .bx-wrapper .bx-viewport{
		width:1178px !important;
		left:0;
}

}

/**************************  JOB SEARCH *************************/
.job_search_wrapper {
  /*background: #EFEFEF;*/
  padding: 60px 0 80px;
}

#job-search .main-navigation-wrap {
	-moz-box-shadow:1px 5px 6px rgba(0, 0, 0, 0.16);
   -webkit-box-shadow:1px 5px 6px rgba(0, 0, 0, 0.16);
   box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.16);
}
.job_search.subpage_tagline_wrapper {
  background-image: url("../images/header-img-job-search.jpg");
  background-position: center -95px;
  -moz-box-shadow:1px 1px 1px #777777 inset;
   -webkit-box-shadow:1px 1px 1px #777777 inset;
  box-shadow: 1px 1px 1px #777777 inset;
  height: 239px;
}
.job_search .table_hf {
  background: url("../images/footer-bg.jpg") repeat 0 0 #222222;
  margin: 0;
  width: 100%;
  padding: 0 0 8px;
}
.form#job_search_form {
  margin: 18px 0 0 0;
  float: left;
}
#job_search_form fieldset {
  float: left;
}
#job_search_form fieldset#searchbox {
  float: left;
  border-right: 1px solid #5a5a5a;
  -moz-box-shadow:1px 0px 0px #171717;
   -webkit-box-shadow:1px 0px 0px #171717;
  box-shadow: 1px 0px 0px #171717;
}
#job_search_form fieldset#job_search_type {
  margin-left: 30px;
}
.job_search .table_hf #searchbox input {
  background: url("../images/job-search-icon.png") no-repeat 96% 5px #F0F0F0;
  border: none;
  
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  
  color: #494949;
  font-size: 14px;
  font-weight: bold;
  margin: 0 20px 0 0;
  padding-left: 14px;
  padding-right: 5px;
  width: 235px;
  
  behavior:url(/js/PIE.htc);
	position:relative;
}
#job_search_type input[type="radio"] {
  display:none;
}
#job_search_type label:before {
  background: #EFEFEF;
  /* border: 1px solid #565656; */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  
  content: "";
  display: inline-block;
  height: 20px;
  left: 0;
  position: absolute;
  width: 20px;
  
   behavior:url(/js/PIE.htc);
}
#job_search_type input[type="radio"]:checked + label:before {
  background: #DF1B23;
  border: 1px solid #610505;
  color: #960a0a;
  content: "\2022"; /* content: \2022 */
  font-size: 35.8px;
  line-height: 0.5;
  text-align: center;
}

#job_search_type label {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: montserrat,arial;
  margin-right: 35px;
  margin-top: 4px;
  padding: 0 0 0 30px;
  position: relative;
  text-transform: uppercase;
}
#job_search_table_header h2 {
  color: #FFFFFF;
  font-family: futurand-bold,montserrat,arial;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  margin: 20px 35px 0;
  float: left;
}
.job_search table {
  background: #FFFFFF;
  margin: 0;
  padding: 0;
  width: 100% !important;
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,.11);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.11);
	box-shadow: 0 0 10px rgba(0,0,0,.11);
}
.job_search table thead tr {
   background-color: #f5f5f7;
	background-image: -webkit-linear-gradient(bottom, rgba(225,225,225,.48), rgba(255,255,255,.48) 49%, rgba(225,225,225,.48));
	background-image: -moz-linear-gradient(bottom, rgba(225,225,225,.48), rgba(255,255,255,.48) 49%, rgba(225,225,225,.48));
	background-image: -o-linear-gradient(bottom, rgba(225,225,225,.48), rgba(255,255,255,.48) 49%, rgba(225,225,225,.48));
	background-image: linear-gradient(to top, rgba(225,225,225,.48), rgba(255,255,255,.48) 49%, rgba(225,225,225,.48));

}
.job_search table th {
  border-right: 1px solid #e5e5e5;
  font-family: futurand-bold,arial;
  font-size: 13px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 400;
 }
.job_search table th:last-child {
  border: none;
}
.job_search table th#job_search_position span {
  background: url("../images/sprite-job-search-arrows.png") no-repeat scroll 2px 0 rgba(0, 0, 0, 0);
  display: inline-block;
  float: right;
  height: 18px;
  width: 19px;
}

.job_search table * {
  color: #6D6E70;
}
.job_search table td, .job_search table th {
  padding: 15px 38px;
}

.job_search table td {
  border-bottom: 1px solid #efefef;
  font-family: montserrat,arial;
  background: #FFFFFF !important;
}
#job_search_table_footer {
  padding: 20px 0 0 0;
  text-align:center;
}
#prev_btn .cta-button-wrap {
  background: url("../images/arrow_icon_left.png") no-repeat 15px 9px #7D247E;
  padding-left: 10px;
}
#next_btn .cta-button-wrap {
  background: url("../images/arrow_icon.png") no-repeat 100% 10px #7D247E;
  padding-right: 10px;
}
#job_search_table_footer .cta-button-text span {
  text-transform: uppercase;
}
/*** Table pager **/
#job_search_table_footer .table_pager {
  background: #FFFFFF;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  height:30px;
  display:inline-block;
  margin: 5px auto;
  text-align:center;
  min-width: 20px;
  max-width:250px;
  overflow:hidden;
  padding: 0 13px;
  behavior:url(/js/PIE.htc);
  position:relative;
}
#job_search_table_footer .table_pager ul {
  margin: 0 auto;
  padding: 0;
}
#job_search_table_footer .table_pager li {
  cursor: pointer;
  display:inline-block;
  font-weight: 700;
  list-style: none;
  margin: 3px 0;
  padding: 1px 7px 1px 6px;
}
#job_search_table_footer .table_pager li.active {
  background: #df1b23;
  -webkit-border-radius: 20px;  
  -moz-border-radius: 20px;  
  border-radius: 20px;  
  color: #ffffff;
  behavior:url(/js/PIE.htc);
  position:relative;
}

/*625px*/
@media screen and (max-width: 39.063em){
/*.job_search table td, .job_search table th {
  padding: 15px 20px;
}*/

.job_search table{float:left;}

.job_search table,
.job_search thead,
.job_search tbody,
.job_search th,
.job_search td,
.job_search tr {
    display: block;
	box-shadow:none;
}

.job_search table thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
	
}

.job_search table tr {
    border: 1px solid #CCCCCC;
}
.job_search table td,
.job_search table th {
  padding: 10px 0px;

}
.job_search table td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #EEEEEE;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
	border:none;
    padding-left: 40%;
	padding-right:5%;
    position: relative;
}

.job_search table td:before {
    left: 10px;
    padding-right: 10px;
    position: absolute;
    white-space: nowrap;
    width: 45%;
}
.job_search table td:nth-of-type(1):before {
    content: "Position";
}
.job_search table td:nth-of-type(2):before {
    content: "Job Field";
}
.job_search table td:nth-of-type(3):before {
    content: "Location";
}
.job_search table td:nth-of-type(4):before {
    content: "Posted";
}
}
@media screen and (max-width: 26.250em){
	#job_search_table_header h2{margin:20px 0 10px;width:100%;text-align:center;}
	.form#job_search_form{width:100%;text-align:center;margin:0 auto;}
   #job_search_form fieldset#searchbox{width:98%;border:none;box-shadow:none;}
   .job_search .table_hf #searchbox input{width:82%;margin:5px 10px;}
   
   #job_search_form fieldset#job_search_type{margin-left:0;padding-top:10px;float:none;}
   #job_search_form #job_search_type label{margin:0 15px 20px;}
}
@media screen and (max-width: 30em){
	#job_search_table_footer .grid_18{display:none;}
	#job_search_table_footer{padding:15px 0 0 !important;width: 100% !important;}
	#job_search_table_footer .grid_3{width:47% !important;clear:none !important;}
	#job_search_table_footer .grid_18{width:70% !important;clear:none !important;}
}
/*421px*/
@media screen and (min-width: 26.313em) and (max-width:47.500em) {
	#job_search_table_header h2{margin:20px 0 10px;width:100%;text-align:center;}
	.form#job_search_form{width:100%;text-align:center;margin:0 auto;}
   #job_search_form fieldset#searchbox{width:98%;border:none;box-shadow:none;}
   .job_search .table_hf #searchbox input{width:39%;margin:0 10px;}
   
   #job_search_form fieldset#job_search_type{margin-left:0;padding-top:20px;float:none;}
   #job_search_form #job_search_type label{margin:0 15px 20px;}
}
@media screen and (min-width: 47.563em) and (max-width:66.563em){
   .form#job_search_form{width:70%;}
   #job_search_form fieldset#searchbox{width:98%;border:none;box-shadow:none;}
   .job_search .table_hf #searchbox input{width:39%;}
   
   #job_search_form fieldset#job_search_type{margin-left:0;margin-top:20px;}
   
}
/*1066px*/
@media screen and (min-width: 66.625em) and (max-width:73.875em){
   .form#job_search_form{width:80%;}
   #job_search_form fieldset#searchbox{width:50%;}
   .job_search .table_hf #searchbox input{width:40%;}
   
}
/*1183px*/
@media screen and (min-width: 73.938em){
   .form#job_search_form{width:82%;}
   #job_search_form fieldset#searchbox{width:57%;}
   .job_search .table_hf #searchbox input{width:42%;}
   
}

/*900px - Prev and Next buttons just turn to arrows*/
@media screen and (max-width: 56.250em){
   #job_search_table_footer .cta-button-wrap {text-indent: -9999em;width: 45px;padding:0;}
   #job_search_table_footer #next_btn .cta-button-wrap{background-position:85% 9px;float:right;}
   #job_search_table_footer .cta-button-text {padding:5px 2px 3px;}
}

/**************************  JOB PROFILES PAGE *************************/

/**************************  JOB PROFILES *************************/
.job_profiles_headline_wrapper {
  /*background: #EFEFEF;*/
}

.job_profiles_content.job_search_wrapper {
  /*background: #F5F5F6;*/
  padding-top: 0;
}
.main-navigation-wrap {
	-moz-box-shadow:1px 5px 6px rgba(0, 0, 0, 0.16);
   -webkit-box-shadow:1px 5px 6px rgba(0, 0, 0, 0.16);
   box-shadow: 1px 5px 6px rgba(0, 0, 0, 0.16);
}
.job_profiles.subpage_tagline_wrapper {
  background-image: url("../images/header-img-job-profiles.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  height: 239px;
}
.job_profiles_content .statement-text {
  width: 100%;
}
.job_profiles_content .statement-text p {
  font-size: 24px;
  line-height: 26px;
  margin-top: 15px;
  padding: 0;
  text-align: center;
  display: none;
}
.job_profiles_content .image_wrapper {
  margin-top: 60px;
}
.job_profiles_content .image_wrapper img {
	float: right;
	width: 85%;
	 border: 4px solid #ffffff;
  box-shadow: 0 26px 26px -16px #7e7e7e;
}

@media screen and (max-width: 61em) {
	
	.job_profiles_content .image_wrapper {
	  margin: 40px auto 60px;
	}
	
	.job_profiles_content .image_wrapper img {
	 	float: none;
	 }

}


.profiles_red_bg_wrapper {
   background: url("../images/job-profile-red-bg.png") no-repeat 50% top #f5f5f6;
  height: 375px;
  margin: 5% 0 50px;
  width: 100%;
}
.profiles_red_bg_wrapper .statement-text p {
  color: #ffffff;
}
.profiles_red_bg {
	width: 100%;
}
.profiles_red_bg .cta-button-wrap {
  max-width: 46%;
  margin:  40px auto;
}
.profiles_red_bg .statement-text {
  margin-top: 128px;
}

/******** Job Profiles Tabs ***/
#profile_tabs {
  /*background: #efefef;*/
  padding-top: 50px;
  position: relative; 
  min-height: 500px;
}

#profile_tabs ul.resp-tabs-list {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}

.profile_tabs_content .grid_24 {
  padding-top: 30px;
}

.profile_tabs_content h2 {
  color: #DF1B23;
  font-family: montserrat,arial;
  font-size: 42px;
  line-height: 40px;
  margin-bottom: 35px;
}

/*.profile_tabs_content p.tagline_inner {
  color: #353535;
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
}*/
#profile_tabs .resp-tab-content {
  border: none;
}
#profile_tabs .resp-tabs-list li {
   color: #494949;
    font-family: montserrat,arial;
    font-size: 18px;
    height: 50px;
    margin-right: 5px;
    width: 15.8%;/*190px;*/
    padding: 22px 1.7% !important;
    text-align: center;
	line-height:120%;

  /* gradient */
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background-color: #f5f5f6;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,.33), inset 0 0 2px #fff;
	-moz-box-shadow: 0 0 4px rgba(0,0,0,.33), inset 0 0 2px #fff;
	box-shadow: 0 0 4px rgba(0,0,0,.33), inset 0 0 2px #fff;
	background-image: -webkit-linear-gradient(bottom, #fff, #d9d8d8);
	background-image: -moz-linear-gradient(bottom, #fff, #d9d8d8);
	background-image: -o-linear-gradient(bottom, #fff, #d9d8d8);
	background-image: linear-gradient(to top, #fff, #d9d8d8);
	
	behavior:url(/js/PIE.htc);
  position:relative;
	
}
#profile_tabs .resp-tab-item.resp-tab-active {
  background: #F5F5F6;
  -webkit-border-radius: 20px 20px 0 0;
  -moz-border-radius: 20px 20px 0 0;
  border-radius: 20px 20px 0 0;
  -moz-box-shadow:0 -2px 2px rgba(0, 0, 0, 0.33);
   -webkit-box-shadow:0 -2px 2px rgba(0, 0, 0, 0.33);
  box-shadow: 0 -2px 2px rgba(0, 0, 0, 0.33);
  height: 25px;
  position: relative;
  z-index: 99;
  border: none;
  
  behavior:url(/js/PIE.htc);
}
#profile_tabs .resp-tabs-container {
  background: #F5F5F6;
  /*position: absolute;
  top: 117px;*/
  position: relative;
  /*top: -25px;*/
  margin-top:-25px;
  float:left;
  width: 100%;
  -webkit-box-shadow: 0px -4px 4px -4px rgba(0, 0, 0, 0.21);
	-moz-box-shadow: 0px -4px 4px -4px rgba(0, 0, 0, 0.21);
	box-shadow: 0px -4px 4px -4px rgba(0, 0, 0, 0.21);
}
.profiles_red_bg_wrapper{overflow:hidden;height:375px;}

.profiles_red_bg_wrapper:after{
	background:url(../images/bg-arrow-red.png) no-repeat center bottom;
	content:" ";
	display:block;
	width:136px;
	margin:0 auto;
	height:26px;
	position:relative;
	top:344px;
	clear:none !important;
	visibility:visible !important;
}
.profiles_red_bg_wrapper .clearfix:after{
	clear:none !important;
	display:block;
	
}
@media screen and (max-width:30em){
	
	.profiles_red_bg .statement-text{margin-top:30px;}
	.profiles_red_bg .cta-button-wrap {margin: 20px auto;}
	
	.profiles_red_bg_wrapper{margin-top:0;background-image:none;height: 275px;}
	.profiles_red_bg_wrapper:after{top:250px;margin-bottom:30px;}
	.profiles_red_bg{background-color:#DF1B23;display:block;float:left;height: 250px;}
	
}
@media screen and (max-width: 55.875em){
	
	/*#tab_item-2*/
	#profile_tabs{min-height:0px;}
	#profile_tabs .resp-tabs-list li#resp-tabs-2{padding-top:15px !important;}
	
	
}

@media screen and (max-width: 61.250em){/*64.188*/
	
	#profile_tabs .resp-tabs-container {
		float:left;
	}
	#profile_tabs h2.resp-accordion{
	   border-right:none;
	   border-left:none;	
	}
	/*#tab_item-1*/
	#profile_tabs .resp-tabs-list li#resp-tabs-1{padding-top:15px !important;}
	#profile_tabs .profile_tabs_content {
		border-bottom:1px solid #C1C1C1;
		float:left;
		padding:0;
	}
	#profile_tabs .profile_tabs_content .grid_24{padding:0;}
	#profile_tabs .profile_tabs_content.container_24 .grid_9,
	#profile_tabs .profile_tabs_content.container_24 .grid_13{width:100%;margin:0;padding:0;}
	#profile_tabs .profile_tabs_content.container_24 .grid_13{
	   width:70%;
	   margin:0 auto;
	}
	#profile_tabs .profile_tabs_content.container_24 .grid_13 .video_wrapper{margin-top:0;margin-bottom:20px;box-shadow:none;}
	
	.profiles_red_bg_wrapper{margin-top:0;/*background-image:none;background-color:#DF1B23;*/position: relative;
top: -1px;}
	
}

@media screen and (min-width:30.063em) and (max-width: 48em){
	
	#profile_tabs h2.resp-accordion{
	   border-right:none;
	   border-left:none;	
	}
	#profile_tabs .profile_tabs_content {
		border-bottom:1px solid #C1C1C1;
		float:left;
		margin-bottom:10px;
		padding:0 15px;
	}
	#profile_tabs .profile_tabs_content .grid_24{padding:0;}
	#profile_tabs .profile_tabs_content.container_24 .grid_9,
	#profile_tabs .profile_tabs_content.container_24 .grid_13{width:100%;margin:0;padding:0;}
	#profile_tabs .profile_tabs_content.container_24 .grid_13 .video_wrapper{margin-top:0;margin-bottom:20px;box-shadow:none;}
	
	.profiles_red_bg_wrapper{margin-top:0;background-image:none;height: 275px;}
	.profiles_red_bg_wrapper:after{top:250px;margin-bottom:30px;}
	.profiles_red_bg{background-color:#DF1B23;display:block;float:left;height: 250px;}
	.profiles_red_bg_wrapper .container_24 .grid_16{width:98%;margin:0;padding:0 1%;}
	
	.profiles_red_bg .statement-text{margin-top:50px;}
	
}
@media screen and (min-width:48.063em) and (max-width: 62.938em){
	
	.profiles_red_bg_wrapper{background-position:40% top;}
	
	.profiles_red_bg .statement-text{margin-top:110px;}
}
@media screen and (min-width:63em) and (max-width: 67em){
	
	.profiles_red_bg_wrapper{background-position:42% top;}
	
}
@media screen and (min-width:67.063em) and (max-width: 68.750em){
   .profiles_red_bg_wrapper{background-position:45% top;}
}

@media screen and (min-width:68.688em) and (max-width: 81.875em){
	
     .profiles_red_bg_wrapper{background-position:50% top;}
}



/**************************  JOB DESCRIPTION & APPLY TO JOB *************************/

.job_description, .job_app {
  padding: 20px 0 100px;
}
#job_description_content, #job_app_content {
	background-color: #ffffff;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,.11);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,.11);
	box-shadow: 0 0 10px rgba(0,0,0,.11);
	min-height: 500px;
	height:  100%;
	padding: 50px;
}
#job_description_content h2.subpage, #job_app h2.subpage {
  padding-bottom: 30px;
}
#job_description_content h2.subpage {
  margin-top: 0;
}
#job_description_content h2.subpage span, #job_app_content h2.subpage span {
  color: #494949;
  display: block;
  font-size: 25px;
  font-weight: 400;
  line-height: 46px;
}
#job_description_content .date_links {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 45px;
  min-height: 50px;
  padding-bottom: 12px;
}
#job_description_content .date_links p {
  font-family: montserrat,arial;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  float: left;
}
#job_description_content ul.email_print_share {
  float: right;
  margin: 0;
  padding: 0;
}
#job_description_content h3 {
  color: #DF1B23;
  font-family: montserrat,arial;
  font-size: 16px;
  font-weight: 400;
  margin: 0 0 -10px;
  text-transform: uppercase;
  
}
#job_location_map_wrapper img {
  width: 100% !important;
  margin-bottom: 20px;
}
#job_description_content .contact_info_icons_small li span {
  font-weight: 700;
  color: #494949;
}
#job_description_content .desc_col_1 .cta-button-wrap {
  max-width: 225px;
}
#job_description_content .desc_col_2 .cta-button-wrap {
  max-width: 115px;
}
#job_description_content .contact_info_icons_small {
  margin-top: 0;
}

#job_app_content h2.subpage {
  margin-bottom: 20px;
}
#job_app_content h4 {
  margin-top: 0;
  text-transform: uppercase;
}
#job_app_content .app_section_num span {
  background: url("../images/sprite-numbers-purple.png") no-repeat 0 0;
  min-height: 55px;
  min-width: 50px;
  display:block;
 /*  margin-left: 12px; */
  
}
#job_app_content .app_section {
  margin-top: 30px;
}
#job_app_content #section_1 .app_section_num span {
  background-position: 0 0;
}

#job_app_content #section_2 .app_section_num span {
  background-position: 0 -81px;
}

#job_app_content #section_3 .app_section_num span {
  background-position: 0 -169px;
}
#job_app_content h3 {
  font-size: 18px;
  text-transform: uppercase;
  line-height: 40px;
  font-family: futurand-bold, montserrat, arial, helvetica;
  font-weight: 400;
  margin-top: 10px;
}

#job_app_content .form input, #job_app_content .form textarea {
  background: #F5F5F6;
  border: 1px solid #C8C8C8;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #494949;
  font-size: 14px;
  margin: 0 8px 35px 0;
  min-height: 26px;
  padding-left: 14px;
  padding-right: 5px;
  /*width: 335px;*/
  width:38.5%;
  font-weight: 400;
  float: left;
  
  behavior:url(/js/PIE.htc);
  position:relative;
}
#personal_info span.required {
  color: #494949;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin-right: 5%;
  margin-top: 10px;
}
#job_app_content .form ul.transformSelect {
  clear: none;
  padding: 0;
  margin: 0 31px 0 0;
  width: 38.5%;
  float:left;
}

#job_app_content .form ul.transformSelect li {
    /*width: 354px;*/
	
}
#job_app_content .form ul.transformSelect > li:first-child{
	width:100%;
    padding-left: 14px;
    padding-right: 5px;
}
#job_app_content .form ul.transformSelect span{padding:11px 0;}

/*dropdown*/
#job_app_content .form ul.transformSelectDropdown{
   background:#f5f5f5;
   margin-left:-10px;
}
#job_app_content .form ul.transformSelectDropdown li{
	padding:0 10px;
}
#job_app_content .form input::-moz-placeholder {
  opacity: 1;
}

#job_app_content .form #drag_drop_file input, #job_app_content .form textarea {
  min-height: 225px;
  width: 89%;
}
#job_app_content .form textarea {
  margin-bottom: 20px;
}
#job_app_content .small_text {
  font-size: 12px;
}
#job_app_content .form input[type="submit"] {
  background-color: #7D247E;
  border-radius: 20px;
  -moz-box-shadow: 0 5px 2px #CECECE;
   -webkit-box-shadow: 0 5px 2px #CECECE;
  box-shadow: 0 5px 2px #CECECE;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 28px;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
  width: 225px;
}



@media screen and (max-width: 37.500em){
	#job_description_content .grid_13,
	#job_description_content .grid_7{width:96% !important;padding:0;}
	
	#job_description_content, #job_app_content{box-shadow:none;padding:5% 1%;width:98% !important;}
	#job_description_content h2.subpage span, #job_app_content h2.subpage span{
		line-height:30px;
		margin-top:20px;
	}
	#job_description_content .date_links{display:block;float:left;width:100%;margin-bottom:25px;}
	#job_description_content .date_links p{width:100%;}
	#job_description_content ul.email_print_share{display:block;float:left;}
	
}
@media screen and (max-width: 47.500em){
	#job_description_content h2.subpage{margin-bottom:0;}
	
	#job_description_content .grid_13,
	#job_description_content .grid_7{width:98%;padding:0;}
	
	#job_description_content .grid_7 #job_location_map_wrapper img{max-width:100%;width:auto !important;}
}
@media screen and (max-width: 53.750em){
	#job_app_content .app_section_num{width:48px !important;}
	#job_app_content .app_section_form{padding-right:0;}
	#job_app_content .form input,
	#job_app_content .form textarea{
		width:88%;
		margin-bottom:25px;
	}
	#job_app_content .form textarea{margin-bottom:0;}
	#personal_info span.required{margin-right:0;}
	#job_app_content .form ul.transformSelect{width:88%; margin-right:30px;}
	#job_app_content .form ul.transformSelect li:first-child{width:100%;padding: 0 5px 0 14px;margin-bottom:25px;}
	#job_app_content .form .transformSelect span{padding:11px 0;}
	#job_app_content .form ul.transformSelectDropdown{margin-left:-10px;}
	#job_app_content .form ul.transformSelectDropdown li:first-child{margin-bottom:0;}
	#job_app_content .form ul.transformSelect li{padding:0 10px;}
   
   .drag_drop_placeholder{
	   top:0px;
	   width:88%;
	   padding: 0 2%;
	   margin:2% 0 0;      
   }
	
}
@media screen and (min-width: 20em) and (max-width: 71.750em){
	
}

