/* CSS Document */
.join_team{
    background:transparent;
	position:relative;
	margin-top:-670px;
	height:670px;
}

.join_team_wrapper{
	height:670px;
	margin: 0 auto; 
	padding: 0;
	max-width: 1797px;
	width:100%;
	position: relative; 
}

.join_team_content{
	float:left;
   display:block;	
   width:100%;
   margin-top:50px;
   position:relative;
   top:0;
}

.join_team_content.caption p {
	width:500px;
}

html.ie8 .join_team_content h2 {
	background: transparent url(../images/ie8-transparent-bkg.png) top left repeat;
	line-height:1.65em;
}
html.ie9 .join_team_content h2 {
	line-height:1.65em;
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   .join_team_content h2 {
		line-height:1.65em;
	}
}
html.ie8 .join_team_content p {
	background: transparent url(../images/ie8-transparent-bkg.png) top left repeat;
}
.join_team_content span.green{
	color:#8BC83F;	
}
.join_team_content p{
	background:rgba(0,0,0,.8);
	color:#ffffff;
	font-size:2em;
	padding:10px;
	font-family:'NewJuneFine', Arial, Helvetica, sans-serif;
	line-height:110%;
	margin:3px 0 58px;
	max-width:505px;
}
.ie8 .join_team_content p{
	margin:3px 0 20px;
}
.join_team_content a{
	background:#018754;
	color:#ffffff;
	padding:15px 28px;
	font-size:1.5em;
	display:inline-block;
	text-transform:uppercase;
	font-family:'GothamBold', Arial, Helvetica, sans-serif;
}
.join_team_content a:hover{
	text-decoration:none;
	background:#00643d;
}
@media screen and (max-width:30em){
	.join_team_content a{font-size:14px;padding:10px 18px;}
	.join_team{margin-top:-320px;height:320px;}
	.join_team_content{width:90%;margin:30px 5% 0;}	
	.join_team_content.caption p{width:auto;}
}

@media screen and (min-width:30.063em) and (max-width:40em){
	.join_team_content a{font-size:14px;padding:10px 18px;}
	.join_team{margin-top:-270px;height:270px;}
	.join_team_content{width:90%;margin:0px 5% 0;}	
	.join_team_content.caption p{width:auto;}
}
@media screen and (min-width:40.063em) and (max-width:65em){
	.join_team_content a{font-size:14px;padding:10px 18px;}
	.join_team{margin-top:-430px;height:430px;}
	.join_team_content{width:90%;margin:0px 5% 0;}	
	.join_team_content.caption p{width:auto;}
}

@media screen and (min-width: 38.75em){
	.join_team_content{width:70%;}
	
}
@media screen and (min-width: 1200px){
	.join_team_content{width:50%;}
	
}