/****** Slider (Flexslider) ****************************/
.slider.managedit {height:900px;}
.slider.managedit .flexslider {
	height:850px!important;
	background:transparent;
}
.slides figure.layered_image img {
	width: 50%;
	height: auto;
	position: relative;
	top: 140px;
	right: 60px;
	float: right;
}

/****** Slider (Testimonials) ****************************/
.bx-wrapper .bx-viewport {
	-moz-box-shadow: 0 0 0 #fff!important;
	-webkit-box-shadow: 0 0 0 #fff!important;
	box-shadow: 0 0 0 #fff!important;
}

#large_testimonial_slider .bx-wrapper .bx-viewport{
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #8bc73f!important;
}
.bx-wrapper .bx-pager.bx-default-pager a {
	background: #e6e5e5!important;
}
.slider-wrapper li {
	margin: 0;
	min-height: 150px !important;
}
#small_testimonial_slider .bx-wrapper img,
#large_testimonial_slider .bx-wrapper img {
	float:left;
	margin-right:20px;
}
#large_testimonial_slider .bx-wrapper img {
	padding:15px 0;
}
.testimonial-quote h3 {
	font-family: 'NewJuneFine', Arial,Helvetica,sans-serif;
	font-size:22px;
	margin:0 !important;
}
#large_testimonial_slider .testimonial-quote h3 {
	padding: 4% 0 0;
}

.testimonial-quote span {
	display:block;
	font-size:16px;
	font-family: 'Source Sans Pro', sans-serif;
}

#small_testimonial_slider {
	margin-left:45px;
}
ul.bxslider_large {
	width:90%!important;
	margin:0 auto;
}

/****** Our Approach ****************************/
.our_approach_wrapper {
}

.our_approach{
	margin: 0 auto; 
	padding: 0;
	background:#008752;
	max-width: 1997px;
	width:100%;
	
	position: relative; 	
	
}

.our_approach h2.headline{
	color:#ffffff;
	padding-top:40px;
}

.our_approach h3 span {
	color:#d3e274;
}

.our_approach ul{
	padding:0 0 60px;
	margin:0 auto;
	list-style:none;
	text-align:center;
}

.our_approach ul li{
	display:inline-block;
	margin:0;
	width:30%;
	margin:0 1.5%;
}
.our_approach a {display: block;}
.our_approach .service_section {
	display: block;
}

	/* Our Approach Details */
	#proactive_it_details,
	#preventative_it_details,
	#responsive_it_details {
    		width: 100%;
    		background: #f5f5f5;
    		display: none;
	}
	.approach_detail {
		width:84%;
		margin: 0 auto;
	}
	.approach_columns {
		width:80%;
		margin:0 auto 30px;
	}
	.approach_columns p {
		font-size:20px;
		font-family: 'Source Sans Pro', sans-serif;
	}
	.approach_columns .grid_12 {
		width:48%;
		float: left;
		display: inline-block;
	}
	.approach_columns .grid_12.suffix_2 {
		margin-right:2%;
	}
	
	a.close {
    		width:10%;
    		text-align:center;
    		color:#fff;
    		text-decoration:none;
    		float:right;
    		position:relative; 
    		top:-10px;
    		right:0;
	}
	a.close span {
    		display:block;
    		padding-top:10px;
    		line-height:2.65em;
    		font-size:1.2em;
	}
	a.close span:after {
    		content: "X";
    		display: block;
    		width: 40px;
    		height: 40px;
    		padding-bottom: 0px;
    		background: #008752;
    		-moz-border-radius: 40px;
    		-webkit-border-radius: 40px;
    		border-radius: 40px;
    		position:relative;
    		top:10px;
	}

/****** How We Work ****************************/
.how_work_wrapper{
	background:#ffffff!important;
}
.how_work {
	margin: 0 auto; 
	padding: 0 0 10px;
	width:100%;
	
}
.how_work_wrapper h2.headline {
	margin:27px 0 90px;
	line-height:1em;	
}
.how_work_wrapper .grid_10 {
	width:46%;
}
.how_work_wrapper .grid_10.how_work_block {
	margin-left:40px;
}

.how_work p {
	font-size:20px;
	font-family: 'Source Sans Pro', sans-serif;
	margin-left:45px;
}

.how_work_block {
	margin:0 auto;
	width:100%;
	text-align:center;
	position: relative;
	left: 85px;
}

.how_work_block ul {
	margin:0 0 20px;
	padding:0;
	list-style:none;
}

.how_work_block ul li {
	display:inline-block;
	margin:0 0 5px;
	padding:0;
}

.how_work_block .grid_5 {
	width:42%;
}

.how_work_div{
	background:#e6e5e5;
	width:237px;
	height:234px;
	display:table;
}

.how_work_content{
	color:#606060;
	text-align:center;
	width:237px;
	height:234px;
	display:table-cell;
	vertical-align:middle;
	text-transform:uppercase;
	font-family: 'GothamBold', Arial, Helvetica, sans-serif;
}

/****** Strategic Guidance ****************************/
.strategic_guidance{
	background:transparent;
	position:relative;
	margin-top:-450px;
	height:500px;
}

.strategic_guidance_content h2 {
	background: rgba(0,0,0,.8);
	color: #ffffff;
	margin: 0 0;
	padding: 10px;
	width: 20%;
	font-size: 4em;
	text-transform: uppercase;
	display: inline;
	font-family: 'GothamBold', Arial, Helvetica, sans-serif;
	line-height: 146%;
}

.strategic_guidance_content span.green {
	color: #8BC83F;
}

.strategic_guidance_content p {
	background: rgba(0,0,0,.8);
	color: #ffffff;
	font-size: 2em;
	padding: 10px;
	font-family: 'NewJuneFine', Arial, Helvetica, sans-serif;
	line-height: 110%;
	margin: 3px 0 58px;
	width:40%;
}

	/*key strategies*/
		.key_strategies_wrapper.local {

		}
		.key_strategies_block ol {
		    display: block;
		    padding: 0 0 0 72px;
		    list-style: none;
		    overflow: hidden;
		    counter-reset: numList;
		}
		.key_strategies_block ol span.left {
			width:44%;
			display: block;
			float: left;
		}
		.key_strategies_block ol span.right {
			width:44%;
			display: block;
			float:right;
		}
		.key_strategies_block ol li {
		    position: relative;
		    font-family: 'Source Sans Pro', sans-serif;
		    font-size:20px;
		    padding:10px 0;
		}
		
		.key_strategies_block ol li:before {
		    counter-increment: numList;
		    content: '0'counter(numList);
		    
		    float: left;
		    position: absolute;
		    left: -72px;
		    
		    font: bold 24px 'NewJuneFine', Arial, Helvetica, sans-serif;
		    text-align: center;
		    color: #fff;
		    line-height: 63px;
		    
		    width: 63px; height: 63px;
		    background: #000000;
		    
		    -moz-border-radius: 999px;
		    border-radius: 999px;
		}
		
/****** Certified Technicians ****************************/
.certified_technicians_wrapper{
	background:transparent;
	position:relative;
	margin-top:-550px;
	height:450px;
}

.certified_technicians {
	padding-top:230px;
	position: relative;
	margin-top: -600px;
	height: 420px;
}

.certified_technicians_content h2 {
	background: rgba(0,0,0,.8);
	color: #ffffff;
	margin: 0 0;
	padding: 10px;
	width: 20%;
	font-size: 4em;
	text-transform: uppercase;
	display: inline;
	font-family: 'GothamBold', Arial, Helvetica, sans-serif;
	line-height: 146%;
}

.certified_technicians_content span.green {
color: #8BC83F;
}

.certified_technicians_content p {
	background: rgba(0,0,0,.8);
	color: #ffffff;
	font-size: 2em;
	padding: 10px;
	font-family: 'NewJuneFine', Arial, Helvetica, sans-serif;
	line-height: 110%;
	margin: 3px 0 58px;
	width:40%;
}

	/*expert assistance*/
		.expert_assistance_block ol {
		    display: block;
		    padding: 0 0 0 72px;
		    list-style: none;
		    overflow: hidden;
		    counter-reset: numList;
		}
		.expert_assistance_block ol span.left {
			width:44%;
			display: block;
			float: left;
		}
		.expert_assistance_block ol span.right {
			width:44%;
			display: block;
			float:right;
		}
		.expert_assistance_block ol li {
		    position: relative;
		    font-family: 'Source Sans Pro', sans-serif;
		    font-size:20px;
		    padding:10px 0;
		}
		
		.expert_assistance_block ol li:before {
		    counter-increment: numList;
		    content: '0'counter(numList);
		    
		    float: left;
		    position: absolute;
		    left: -72px;
		    
		    font: bold 24px 'NewJuneFine', Arial, Helvetica, sans-serif;
		    text-align: center;
		    color: #fff;
		    line-height: 63px;
		    
		    width: 63px; height: 63px;
		    background: #000000;
		    
		    -moz-border-radius: 999px;
		    border-radius: 999px
		}
		
/****** Full Service Help Desk ****************************/
.full_service_wrapper{
	background:transparent;
	position:relative;
	margin-top:-550px;
	height:550px;
}

.full_service {
	padding-top:230px;
	position: relative;
	margin-top: -600px;
	height: 430px;
}

.full_service_content h2 {
	background: rgba(0,0,0,.8);
	color: #ffffff;
	margin: 0 0;
	padding: 10px;
	width: 20%;
	font-size: 4em;
	text-transform: uppercase;
	display: inline;
	font-family: 'GothamBold', Arial, Helvetica, sans-serif;
	line-height: 146%;
}

.full_service_content span.green {
color: #8BC83F;
}

.full_service_content p {
	background: rgba(0,0,0,.8);
	color: #ffffff;
	font-size: 2em;
	padding: 10px;
	font-family: 'NewJuneFine', Arial, Helvetica, sans-serif;
	line-height: 110%;
	margin: 3px 0 58px;
	width:43%;
}

	/*expert assistance*/
		.around_clock_block ol {
		    display: block;
		    padding: 0 0 0 72px;
		    list-style: none;
		    overflow: hidden;
		    counter-reset: numList;
		}
		.around_clock_block ol span.left {
			width:44%;
			display: block;
			float: left;
		}
		.around_clock_block ol span.right {
			width:44%;
			display: block;
			float:right;
		}
		.around_clock_block ol li {
		    position: relative;
		    font-family: 'Source Sans Pro', sans-serif;
		    font-size:20px;
		    padding:10px 0;
		}
		
		.around_clock_block ol li:before {
		    counter-increment: numList;
		    content: '0'counter(numList);
		    
		    float: left;
		    position: absolute;
		    left: -72px;
		    
		    font: bold 24px 'NewJuneFine', Arial, Helvetica, sans-serif;
		    text-align: center;
		    color: #fff;
		    line-height: 63px;
		    
		    width: 63px; height: 63px;
		    background: #000000;
		    
		    -moz-border-radius: 999px;
		    border-radius: 999px
		}

/****** Network Operations Center (NOC) ****************************/
.noc_wrapper{
	background:transparent;
	position:relative;
	margin-top:-550px;
	height:550px;
}

.noc {
	padding-top:210px;
	position: relative;
	margin-top: -600px;
	height: 425px;
}

.noc_content h2 {
	background: rgba(0,0,0,.8);
	color: #ffffff;
	margin: 0 0;
	padding: 10px;
	width: 20%;
	font-size: 4em;
	text-transform: uppercase;
	display: inline;
	font-family: 'GothamBold', Arial, Helvetica, sans-serif;
	line-height: 146%;
}

.noc_content span.green {
	color: #8BC83F;
}

.noc_content p {
	background: rgba(0,0,0,.8);
	color: #ffffff;
	font-size: 2em;
	padding: 10px;
	font-family: 'NewJuneFine', Arial, Helvetica, sans-serif;
	line-height: 110%;
	margin: 3px 0 58px;
	width:43%;
}

	/*deploy solutions*/
		.deploy_solutions_block ol {
		    display: block;
		    padding: 0 0 0 72px;
		    list-style: none;
		    overflow: hidden;
		    counter-reset: numList;
		}
		.deploy_solutions_block ol span.left {
			width:44%;
			display: block;
			float: left;
		}
		.deploy_solutions_block ol span.right {
			width:44%;
			display: block;
			float:right;
		}
		.deploy_solutions_block ol li {
		    position: relative;
		    font-family: 'Source Sans Pro', sans-serif;
		    font-size:20px;
		    padding:10px 0;
		}
		
		.deploy_solutions_block ol li:before {
		    counter-increment: numList;
		    content: '0'counter(numList);
		    
		    float: left;
		    position: absolute;
		    left: -72px;
		    
		    font: bold 24px 'NewJuneFine', Arial, Helvetica, sans-serif;
		    text-align: center;
		    color: #fff;
		    line-height: 63px;
		    
		    width: 63px; height: 63px;
		    background: #000000;
		    
		    -moz-border-radius: 999px;
		    border-radius: 999px;
		}

/****** How Can We Help You ****************************/
.how_we_can_help_wrapper{
	background:transparent;
	position:relative;
	margin-top:-550px;
	height:550px;
}

.how_we_can_help {
	padding-top:160px;
	position: relative;
	margin-top: -600px;
	height: 440px;
}

.how_we_can_help_content {
	background: rgba(0,0,0,.8);
	text-align:center;
}
.how_we_can_help_content h2 {
	color: #ffffff;
	margin: 0 0;
	padding: 10px;
	width: 20%;
	font-size: 4em;
	text-transform: uppercase;
	display: inline;
	font-family: 'GothamBold', Arial, Helvetica, sans-serif;
	line-height: 146%;
}

.how_we_can_help span.green {
	color: #8BC83F;
}

.how_we_can_help p {
	background: rgba(0,0,0,.8);
	color: #ffffff;
	font-size: 2em;
	padding: 10px;
	font-family: 'NewJuneFine', Arial, Helvetica, sans-serif;
	line-height: 110%;
	margin: 3px 0 58px;
	width:43%;
}

	/*Bottom header*/

	.how_we_can_help .bottom_header {
		background: transparent;
		border-top: none;
		border-bottom: 6px solid transparent;
		margin-top: 4px;
	}
	
	.how_we_can_help .bottom_header .grid_12 {
		background: rgba(0,0,0,.8);
		display: block;
		
		min-height: 140px;
		margin: 0 auto;
		padding: 40px 0;
		font-family: 'NewJuneFine', Arial, Helvetica, sans-serif;
		width: 49.65%;
	}
	
	.how_we_can_help .bottom_header .grid_12.left_choice {
		border-right: 4px solid transparent;
		float: left;
	}
	
	.how_we_can_help .bottom_header .grid_12.right_choice {
		margin-left: 4px;
		float: right;
	}
	
	.how_we_can_help .bottom_header .grid_12 a {
		font-size: 2em;
		line-height: 120%;
		font-weight: bold;
		display: block;
		margin-left: 50px;
	}
	
	.how_we_can_help .bottom_header .grid_12 a img {
		float: left;
		margin-right: 20px;
		width: 25%;
	}
	
	.how_we_can_help .bottom_header .grid_12 a span {
		width: 60%;
		float: left;
		margin-top: 40px;
		color:#fff;
	}
	
	.how_we_can_help .bottom_header .grid_12 a:hover span {
		text-decoration: underline;
	}

/*styles for 640px*/

@media all and (max-width: 40em) {

	.local .flex-caption {
		width:30%;
	}

	.header_content_right .lets_connect {
		display:none;
	}
	.lets_connect_hat {
		background:#000;
		width:100%;
		padding:5px 0;
	}
	.lets_connect_hat img {
		display:inline-block;
		margin-right:10px;
	}
	.lets_connect_hat a {
		float:right;
		text-align:right;
		color:#fff;
		font-family: 'GothamBook', Arial, Helvetica, sans-serif;
		text-transform:uppercase;
	}
	.lets_connect_hat a:hover {
		text-decoration:none;
	}

	.our_approach ul li {
		float:none;
		width:100%;
		display:block;
	}

	.how_work_wrapper {
		top:0;
	}
	.how_work_wrapper .grid_12 {
		display: block;
		float: none;
		width: 100%;
	}
	.how_work {
		padding-bottom:40px;
}
	.how_work_wrapper h2.headline {
		padding-top:30px;
		margin-bottom:60px;
	}
	.how_work p {
		margin:0 10px 25px;
	}
	#small_testimonial_slider {
		display:none;
	}
	.how_work_content {
		width:190px;
		height:190px;
		display:inline-block;
		float:left;
	}
	.how_work_content img {
		margin-top:25px;
	}
	.how_work_content h3 {
		font-size:18px;
	}
	.how_work_div {
		width: 190px;
		height: 190px;
		display: inline-block;
	}
	.how_work_block {
		left:0;
	}
	.how_work_block ul {
		margin:0;
	}
	.how_work_block ul li {
		margin:0;
	}
	
	.key_strategies_block ol span.left,
	.key_strategies_block ol span.right,
	.expert_assistance_block ol span.left,
	.expert_assistance_block ol span.right,
	.deploy_solutions_block ol span.left,
	.deploy_solutions_block ol span.right {float:none; width:100%;}

	.key_strategies_block ol,
	.expert_assistance_block ol,
	.deploy_solutions_block ol {
		padding: 0 10px 0 55px;
	}

	.how_we_can_help_content h2 {font-size:2em;}
	.how_we_can_help .bottom_header .grid_12 a {font-size:1em;line-height: 190%;}
	.how_we_can_help .bottom_header .grid_12 {padding:10px 0;}
	.how_we_can_help .bottom_header .grid_12.left_choice {margin-bottom:5px;display:block;float:none;border-right: none;}
	.how_we_can_help .bottom_header .grid_12 {display:table;}
	.how_we_can_help .bottom_header .grid_12 a img {position: relative;top: 25px;}

	.strategic_guidance_content h2,
	.certified_technicians_content h2,
	.full_service_content h2,
	.noc_content h2 {font-size:3em;line-height: 165%;}

	.strategic_guidance_content p,
	.certified_technicians_content p,
	.full_service_content p,
	.noc_content p {
		font-size:1.5em;
		width:80%;
	}

}

/*641px to 959px*/

@media screen and (min-width: 40.063em) and (max-width:59.938em) {
	.slider.managedit,
	.slider.managedit .flexslider {height:800px!important;}
	.flex-caption h2 span{line-height:175%;display:inline-block;width:auto;}
	.slides figure.layered_image img {width:20%;top: 205px;right: 28%;}
	.flex-caption {left: 30%;top:210px;}
	.local .flex-caption {width:45%;}
	.flex-caption p {width:65%;font-size:1.5em;}
	.flex-custom-control-nav li a span {line-height:95%;}
	.flex-custom-control-nav li a {padding-top:10px;font-size:12px;}

	.our_approach ul li {width:26%;}

	#small_testimonial_slider,
	.how_work p {margin-left:0;}

	

	.certified_technicians_content p,
	.full_service_content p,
	.strategic_guidance_content p {width:50%;}
	.noc_content p {width:55%;}

	.how_we_can_help .bottom_header .grid_12 {width:49.25%;}
	.how_we_can_help .bottom_header .grid_12 a span {margin-top:4%;}
	.how_we_can_help .bottom_header .grid_12 a {line-height:130%;font-size:1.5em;}

	.how_work_wrapper .grid_12 {width:55%; left:0px;}
	.how_work_wrapper .grid_12.how_work_block {width:43%;}
	.how_work_block .grid_5 {width:48%;}
	.how_work_div:nth-child(odd) {border-right:5px solid #fff;}
	.how_work_div {width:auto;}
	.how_work_div h3, .testimonial-quote h3, .how_work p  {font-size:16px;}

	.noc_content {top:-80px;position:relative;}

	.our_approach_wrapper {top:-260px;position:relative;}

	#small_testimonial_slider .bx-wrapper img {width:20%;}
	.bx-wrapper {margin-bottom:15px!important;}
	.bx-wrapper .bx-pager {padding:0!important;bottom: 20px!important;}

	.key_strategies_block ol span.left,
	.key_strategies_block ol span.right,
	.expert_assistance_block ol span.left,
	.expert_assistance_block ol span.right,
	.deploy_solutions_block ol span.left,
	.deploy_solutions_block ol span.right {float:none; width:100%;}
	

}

/*960px to 1079px*/
@media screen and (min-width: 60em) and (max-width:67.438em) {
	.slider.managedit {height:700px!important;}
	.slides figure.layered_image img {width:30%;top: 195px;right: 21%;}
	.flex-caption {left:22%!important;}
	.flex-caption p {width:80%;}

	#small_testimonial_slider,
	.how_work p {margin-left:0;}

	.certified_technicians_content p,
	.full_service_content p,
	.strategic_guidance_content p {width:50%;}
	.noc_content p {width:55%;}

	.how_we_can_help .bottom_header .grid_12 {width:49.5%;}
	.how_we_can_help .bottom_header .grid_12 a span {margin-top:4%;}
	.how_we_can_help .bottom_header .grid_12 a {line-height:130%;font-size:1.75em;}


	.how_work_wrapper .grid_12 {width:45%; left:70px;}
	.how_work_block .grid_5 {width:48%;}
	.how_work_div:nth-child(odd) {border-right:5px solid #fff;}
	.how_work_div {width:auto;}

	.our_approach_wrapper {position:relative; top:-300px;}

	.noc_content {top:-80px;position:relative;}

	key_strategies_wrapper.local {position:relative; top:-490px; height:490px!important;}
	
}

/*one with pixels too! */
/* NOTE - if the user were to increase his browser font size to 20px (chrome: Large), 
			the above (68.75em) media query will be incorrectly ignored!!!
			
			Assuming 20px browser setting, we would expect to see this progression:
			yellow > green > red > blue > NAVY > orange
			
			However, the orange never kicks in... which seems like a browser bug!
			Here's the math (assuming 20px browser setting):
			1200/20 = 60em     <     68.75em
*/
/*1080px to 1324px*/
@media screen and (min-width: 67.5em) and (max-width: 82.75em){
	.slides figure.layered_image img {width:40%;top: 195px;right: 160px;}
	.flex-caption {left: 150px;}

	.how_we_can_help .bottom_header .grid_12 {width:49.5%;}

	.how_we_can_help .bottom_header .grid_12 a span {margin-top:4%;}
	.how_we_can_help .bottom_header .grid_12 a {line-height:130%;}

	.how_work_wrapper .grid_12 {width:45%; left:70px;}
	.how_work_block .grid_5 {width:48%;}
	.how_work_div:nth-child(odd) {border-right:5px solid #fff;}
	.how_work_div {width:auto;}
}

/*min 1325px*/
@media screen and (min-width: 82.751em){

}