<script id="ux-app-dashboard-result-view-tile" type="text/html">
    <ul data-bind="foreach: { data: results, afterRender: infiniteScroll }" class="ux-result-tile">
        <li>
            <div class="ux-result ux-clearfix">
                <span class="ux-tile-view-icon-wrapper" data-bind="template: { name: 'image', data: $data }"></span>
                <div class="ux-tile-view-wrapper">
                    <h3 data-bind="text: title"></h3>
                    <div>
                        <dl>
                            <dt>
                                <span data-bind="text: $parent.labels().LastModified"></span>:
                            </dt>
                            <dd>
                                <span data-bind="text: lastModified"></span>
                            </dd>
                            <dt>
                                <span data-bind="text: $parent.labels().LastEditor"></span>:
                            </dt>
                            <dd>
                                <span data-bind="text: lastEditor"></span>
                            </dd>
                            <dt data-bind="visible: status">
                                <span data-bind="text: $parent.labels().Status"></span>:
                            </dt>
                            <dd data-bind="visible: status">
                                <span data-bind="text: $parent.labels()['Status_' + status]"></span>
                            </dd>
                            <dt data-bind="visible: template">
                                <span data-bind="text: $parent.labels().Template"></span>:
                            </dt>
                            <dd data-bind="visible: template">
                                <span data-bind="text: template"></span>
                            </dd>
                            <dt>
                                <span data-bind="text: $parent.labels().Language"></span>:
                            </dt>
                            <dd>
                                <span data-bind="label: { namespace: 'filterTree', prefix: 'language', label: language }"></span>
                            </dd>
                        </dl>
                    </div>
                </div>
            </div>
            <div class="ux-item-context-menu" data-bind="template: { name: 'ux-app-dashboard-view-context-menu-tile', data: menuItems }">
            </div>
        </li>
    </ul>
</script>

<!-- context menu -->
<script id="ux-app-dashboard-view-context-menu-tile" type="text/html">
    <ul>
        <li data-bind="attr: { class: $data[0].cssClass }">
            <a data-bind="attr: { onclick: $data[0].menuOnClick, href: $data[0].menuHref, target: '_blank' }">
                <span data-bind="text: $root.labels().Preview"></span>
            </a>
        </li>
        <li data-bind="attr: { class: $data[1].cssClass }">
            <a data-bind="attr: { onclick: $data[1].menuOnClick, href: $data[1].menuHref, target: '_blank' }">
                <span data-bind="text: $data[1].menuTitle"></span>
            </a>
        </li>
        <!-- ko if: $data.length > 3 -->
        <li data-bind="attr: { class: $data[$data.length - 1].cssClass }">
            <a data-bind="attr: { onclick: $data[$data.length - 1].menuOnClick, href: $data[$data.length - 1].menuHref }">
                <span data-bind="text: $root.labels().More"></span><span class="ux-context-menu-more-arrow"></span>
            </a>
            <ul class="ux-app-context-menu-more">
                <!-- ko foreach: $ektron($data).filter(function (index) { return index >= 2 && index != $data.length - 1 }) -->
                <li data-bind="attr: { class: cssClass }">
                    <a data-bind="attr: { onclick: menuOnClick, href: menuHref, target: '_blank' }">
                        <span data-bind="text: menuTitle"></span>
                    </a>
                </li>
                <!-- /ko -->
            </ul>
        </li>
        <!-- /ko -->
    </ul>
</script>
