/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body {
	background: #f5f5f6;
	color: #333;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 300px;
	min-height: 800px;
}

h2.headline {
  text-align: center;
  text-transform: uppercase;
  font-family: FuturaND-Bold, Arial,Montserrat,Helvetica,sans-serif;
  font-weight: 400;
}
h2.headline.gray {
  color: #6d6e70;
}
h2.subpage {
  color: #DF1B23;
  font-family: montserrat, arial, helvetica, sans-serif;
  font-size: 42px;
  line-height: 45px;
  margin-bottom: 50px;
}
h4 {
  color: #494949;
  font-family: montserrat, arial, helvetica, sans-serif;
  font-size: 15px;
}
p {
  color: #494949;
  font-size: 15px;
  line-height: 22px;
  font-family: montserrat,arial,Helvetica,sans-serif; 
  font-weight: 400;
}
a {
	color: #333;
	outline: 0;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

p, ul, ol { 
  font-family: montserrat,arial,Helvetica,sans-serif; 
  font-weight: 400; 
} 

.gray {
  color: #6d6e70;
}
.red-text, .statement-text p span, .statement-text p strong {
    color: #DF1B23 !important;
}
.statement-text p {
  color: #6D6E70;
  font-style: italic;
}
.main_content ul {
  padding-left: 15px;
}
.main_content ol {
  padding-left: 20px;
}
.main_content li {
  font-size: 14px;
  line-height: 1.3;
  margin-left: 0;
  padding-bottom: 18px;
  padding-left: 0;
  font-family: montserrat,arial,Helvetica,sans-serif; 
}
.main_content .red_arrows li {
  color: #DF1B23;
  list-style: none;
}
.red_arrows li:before {
  content: "\203A"; /* &rsaquo; */
  display: block;
  float: left;
  font-size: 21px;
  font-weight: bold;
  margin-left: -17px;
  margin-top: -6px;
  padding-right: 7px;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}
p.tagline_inner {
  color: #353535;
  font-family: montserrat,arial;
  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
}
p.disclaimer {
  font-size: 13px;
  font-style: italic;
  line-height: 22px;
}
.shorten-text {
	display: none;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 */
 
::-moz-selection {
    background: #cbadcc!important;
    text-shadow: none;
}

::selection {
    background: #cbadcc!important;
    text-shadow: none!important;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*
 * Remove outline around active form items */

input:focus, select:focus, textarea:focus {
    outline: none;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}



/*
 * Logo (both) mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Logo (both) 
 */

#logo {
  display: inline-block;
  float: left;
}




/*
 * Main Nav (both) mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Main Nav (both) 
 */
 
.main_nav_wrapper{
 background: #f5f5f6;
  display: block;
  position: relative;
  z-index: 1;
	
}
.main_nav{
	background:transparent;
	height:85px;
}
.main_nav .logo{
	display: block;
	float: left;
}
.main_nav .nav{
	
}

.main-navigation-wrap {
  border-bottom: 1px solid #dfdfdf;
  background: #ffffff; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffffff 0%, #e1e1e1 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#e1e1e1)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffffff 0%,#e1e1e1 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ffffff 0%,#e1e1e1 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e1e1e1',GradientType=0 ); /* IE6-9 */

}
/*
 * Rotating Banner (both) mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Rotating Banner (both)
 */

.main_rotator_wrapper{
  background: #f5f5f6;
} 
.main_rotator{
/*	min-height:500px; */
	width:100%;
}
 

/*
 * Tagline (lcl) mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Tagline (lcl) 
 */

.main_tagline{
	min-height:145px;
	background:transparent;
}

.main_tagline_wrapper {
  background: url("../images/main_tagline_bg.png") repeat-x scroll center -58px rgba(0, 0, 0, 0);
  min-height: 173px;
  position: relative;
}

.main_tagline .statement-text {
  min-width: 100%;
}
.main_tagline .statement-text p {
  margin-bottom: 0;
  padding: 0;
  text-align: center;
  line-height: 1.4;
  margin-top:24px;
  width: 100%;
}


@media screen and (max-width: 640px) {

  
}
/* 825px and below */
@media screen and (max-width: 51.56em) {

	.main_tagline_wrapper {
  background-position: center -29px;
  min-height: 200px;
}

/*.main_tagline .container_24 .suffix_1, .main_tagline .container_24 .prefix_1 {
  padding: 0;
}*/	

	
}
@media screen and (max-width: 37.688em) {
  .main_tagline .statement-text p {font-size: 21px;margin-top:23px;}

}
/*604px to 862px*/
@media screen and (min-width:37.750em) and (max-width: 53.875em) {
  .main_tagline .statement-text p {font-size: 29px;margin-top:23px;}

}
@media screen and (min-width:53.938em) and (max-width: 57.500em) {
  .main_tagline .statement-text p {font-size: 30px;}

}

/*
 * Products and Services (both) mmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Products and Services (both) 
 */
 
.products_services_wrapper{
	background:#efefef;
	-moz-box-shadow:inset 1px 4px 9px -6px;
	-webkit-box-shadow:inset 1px 4px 9px -6px;
	box-shadow:inset 1px 4px 9px -6px;
	margin-top: -34px;
}
.products_services{
	min-height:250px;	
}


/* 
 * World Wide Locations (ntl) mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm World Wide Locations (ntl) 
 */
 
.ww_locations_wrapper {
	background:#df1b23;
}

.ww_locations{
  min-height:150px;
}
 
/*
 * Ads (lcl) mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Ads (lcl) 
 */

.red_promos_wrapper {
	background:#df1b23;
}
.red_promos {
  min-height: 100px;
}
 


/*
 * Your Location (lcl) mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Your Location (lcl)
 */

.your_location_wrapper{
	background:#ffffff;
}
.your_location{
	min-height:400px;
	background:transparent;
}



/* 
 * Our Portfolio / Case Studies (both) mmmmmmmmmmmmmmmmmmmmm Our Portfolio / Case Studies (both) 
 */
 
.our_portfolio_studies_wrapper{
	background:#ffffff;	
	-moz-box-shadow:inset 1px 4px 9px -6px #333333;
	-webkit-box-shadow:inset 1px 4px 9px -6px #333333;
	box-shadow:inset 1px 4px 9px -6px #333333;
}
.our_portfolio_studies{
	min-height:250px;
}



/*
 * upperfooter mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm upperfooter
 */

.footer_uppper_wrapper{
	color:#000;
	background: #efefef;
}

/*
 * mmmmmmmmmmmmmmmmmmmmmmmmmmmm SHARED STYLES mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm SHARED STYLES
 */



/*
 *  Date & Share Links Header mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Date & Share Links Header
 */

.date_links {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 45px;
  min-height: 50px;
  padding-bottom: 12px;
}
.date_links p {
  font-family: montserrat,arial;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  float: left;
}
.date_links .email_print_share {
  float: right;
  margin: 0;
  padding: 0;
}


/*
 * buttons mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm buttons */

/* Purple button */
.cta-button-wrap:before,
.cta-button-wrap:after {
  content: " ";
  display: table; 
}
.cta-button-wrap:after {
  clear: both; 
 }
.cta-button-wrap {
  background-color: #7d247e;
  color: #fff;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
   border-radius: 20px;
  box-shadow: 0 5px 2px #cecece;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 1px;
  text-align: center;
  margin: 0 0 20px 0; 
  position:relative;
  z-index: 0;
  
  behavior:url(js/PIE.htc);
 }
a.cta-button-text {
	color: #ffffff !important;
	display: block;
	/*width: 75%;*/
	width: auto;
	/*padding: 5px 2px 5px 20px;*/
	padding: 5px 2px;
	float: none; 
	text-decoration: none;
	font-family: 'FuturaND-Bold', Arial Black, Montserrat, Arial, Helvetica, sans-serif;
	font-weight: 400;

}
.lt-ie9 .cta-button-wrap, .lt-ie9 .cta-button-wrap.gray.small {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	box-shadow: 0 5px 2px #cecece;
	z-index: 0;
	position: relative;
	behavior: url(js/PIE.htc);
}

.cta-button-wrap.purple {
  /*background-color: #7D247E !important;*/
}
/*.cta-button-wrap.purple:hover, .lt-ie9 .cta-button-wrap.purple:not:hover {
  background-color: #701b71 !important;
}
*/
.cta-button-wrap.purple:hover {
  background-color: #701b71;
}

.cta-button-wrap.red {
  background-color: #df1b23 !important;
}
.cta-button-wrap.gray {
	background-color: #6d6e70;
}
/* Gold button - regular size */
.cta-button-wrap.gold {
  background-color: #FA9709 !important;
  box-shadow: 0 2px 2px #C9C9C9 !important;
}
.cta-button-wrap.white {
  background: #FFFFFF;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16) !important;
}
.cta-button-wrap.white a.cta-button-text {
  color: #df1b23 !important;
}
/* Button drop shadow for lighter backgrounds */
.cta-button-wrap.light_bg {
  box-shadow: 0 5px 2px #CECECE !important;
}

/* Button drop shadow for darker backgrounds */
.cta-button-wrap.dark_bg {
  box-shadow: 0 2px 2px #333333 !important;
}
.cta-button-wrap.medium {
  line-height: 32px !important;
  max-height: 100% !important;
}
.cta-button-wrap.medium a.cta-button-text {
   padding: 2px 50px 2px 0 !important;
}
.cta-button-wrap.small {
  box-shadow: 0 2px 2px #C9C9C9 !important;
  line-height: 1.3 !important;
  max-height: 21px !important;
  font-size: 10px;
}
/* small back button */

.cta-button-wrap.back-button {
  max-width: 70px;
}
.cta-button-wrap.back-button a.cta-button-text {
  color: #747474 !important;
  cursor: pointer;
}

/*
 * inner border mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm inner border */
.inner-border {
  display:block;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
} 

.no-border {
  border: none;
}
 
/*
 * dividers mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm dividers */

/* gray on top, white on bottom */
.bottom-divider {
  border-bottom: 1px solid #fefefe;
  box-shadow: 0px -1px 0px 0px #d1d1d1 inset;
}

/*
 * Load More Button - Bottom mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Load More Button - Bottom */

.load_more_wrapper {
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.16);
  margin-top: 41px;
  min-height: 65px;
  padding: 10px;
}
.load_more_wrapper .cta-button-wrap {
  margin: 20px auto;
  width: 235px;
}

/*
 * Email, Print, Share Buttons mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Email, Print, Share Buttons */

.email_print_share {
  margin-top: 30px;
}
.email_print_share .cta-button-wrap {
  float: left;
  width: 145px;
  margin-right: 25px;
}
.email_print_share ul {
  padding: 0;
}
.email_print_share li {
  float: left;
  list-style: none outside none;
  margin: 0 15px 0 0;
  cursor: pointer;
}
/*.email_print_share li a {
  display: block;
  height: 47px; 
  background-repeat: no-repeat;
  background-position:  top left;
}
.email_print_share.white li a {
	background-image: url('../images/sprite_email_print_share_white.png');
}
.email_print_share.gray li a {
	background-image: url('../images/sprite_email_print_share_gray.png');
}
.email_print_share li.email a { 
  background-position: 0 0; 
  width: 43px; 
} 
.email_print_share li.print a  { 
  background-position: -93px 0; 
  width: 43px; 
} 
.email_print_share li.share a { 
  background-position: -186px 0; 
  width: 98px; 
} 
*/
/** Contact Info Icons mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Contact Info Icons */

ul.contact_info_icons_small {
  padding: 0;
  margin-bottom: 10px;
}
ul.contact_info_icons_small li {
  background: url("../images/sprite-contact-icons.png") no-repeat 0 2px;
  list-style: none;
  margin-left: 0;
  padding-bottom: 0;
}
ul.contact_info_icons_small li span {
  padding-left: 20px;
}

/* white icons */
ul.contact_info_icons_small.white li.phone {
  background-position: 0 2px;
}
ul.contact_info_icons_small.white li.mobile {
  background-position: 0 -15px;
}
ul.contact_info_icons_small.white li.email {
  background-position: 0px -34px;
}

/* dark gray icons */
ul.contact_info_icons_small.gray li.phone {
  background-position: -21px 3px;
}
ul.contact_info_icons_small.gray li.mobile {
  background-position: -21px -15px;
}
ul.contact_info_icons_small.gray li.email {
  background-position: -22px -34px;
}


/** Forms (Content) mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Forms (Content) */

.main_content input, .main_content select, .main_content textarea, .utility_content input, .utility_content  select, .utility_content textarea {
  background: #F5F5F6;
  border: 1px solid #C8C8C8;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #494949;
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 35px 0;
  min-height: 26px;
  padding-left: 14px;
  padding-right: 5px;
  width: 335px;
  
  position: relative;
	behavior: url(js/PIE.htc);
}
.main_content input[type="checkbox"], .utility_content input[type="checkbox"] {
    width: 18px !important;
}
.required{
    color: red;
}
span.required {
  color: #494949;
  display: block;
  float: left;
  font-size: 15px;
  font-weight: bold;
  margin-top: 10px;
}
.send_file .ajaxLoader{
    margin-left: 8%;
}

.main_content input[type="submit"], .utility_content input[type="submit"] {
  background-color: #7D247E;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 28px;
  /*padding: 9px 0;*/
  padding: 0;
  height: 39px;
  text-align: center;
  text-transform: uppercase;
  max-width: 225px;
  border: none;
  -webkit-box-shadow: 0 5px 3px rgba(0,0,0,.16);
	-moz-box-shadow: 0 5px 3px rgba(0,0,0,.16);
	box-shadow: 0 5px 3px rgba(0,0,0,.16) !important;
	
 position: relative;
	behavior: url(js/PIE.htc);
}
input[type="submit"].red_btn {
  background-color: #DF1B23 !important;
}
input[type="submit"].gray_btn {
  background-color: #494949 !important;
}
form label {
  background: none;
  font-family: montserrat,arial;
}
form label.small-text {
  font-size: 12px !important;
}
form input::-moz-placeholder, form textarea::-moz-placeholder {
  opacity: 1;
  font-family: montserrat,arial;
}


/** Fancy Forms Styles mmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmmm Fancy Forms Styles */
ul.transformSelect
{
	clear: both;
	padding-left: 0;
}
.transformSelect li {
  list-style: none;
  position: relative;
  line-height: 1;
  background: #F5F5F6;
  border: 1px solid #C8C8C8;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #494949;
  float: left;
  font-size: 14px;
  font-weight: 400;
  margin: 0 10px 35px 0;
  min-height: 26px;
  width: 315px;
  padding: 0;
  
  behavior: url(js/PIE.htc);
}
.transformSelect span, .transformSelect input[type=text] {
	 background: url("../images/form_select_arrow_gray.png") no-repeat scroll 94% 50% transparent;
    cursor: pointer;
    display: block;
    left: 0;
    margin: 0;
    padding: 11px 13px;
    top: 0;
    line-height: 20px;
}

.transformSelect li.open span, .transformSelect li.open input[type=text]
{
	/*border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;*/
}
.transformSelect input[type=text]
{
	width: 188px;
}
.transformSelect ul
{
	position: absolute;
	/*border: 1px solid #CCCCCC;*/
	border-top: 0;
	

}
.transformSelect ul span
{
	border: 0;
	background: #ffffff;
}
.transformSelect ul span:hover
{
	/*background: #dddddd;*/
	border-radius: 0;
	-webkit-border-radius: 0;
	
	position: relative;
	behavior: url(js/PIE.htc);
}
.transformSelect ul li
{
	height: auto;
}

/***** Dropdown li elements *****/
ul.transformSelectDropdown {
  border: 1px solid #C8C8C8;
  margin-left: 10px;
  margin-top: 5px;
  max-height: 300px !important;
  padding: 0;
  width: 96%;
  overflow-y: auto;
  overflow-x: hidden;
}
ul.transformSelectDropdown li {
	margin: 0;
	border: 0;
	width: 100% !important;
}
ul.transformSelectDropdown li span {
	background: #F5F5F6;
	padding: 5px;
}
.transformSelect li.group ul
{
	position: static;
	border: 1px solid #dddddd;
	border-right: 0;
	border-left: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	
	position: relative;
	behavior: url(js/PIE.htc);
}
.transformSelect li.group span
{
	font-style: italic;
	-webkit-border-radius: 0;
	border-radius: 0;
	
	background: #F7F7F7;
	
	position: relative;
	behavior: url(js/PIE.htc);
}
.transformSelect li.group > span
{
	background: #eeeeee;
	border-top: 1px solid #dddddd;
}
.transformSelect li.group  ul span
{
	text-indent	: 10px;
	font-style: normal;
}
.transformSelect ul li.group ul span:hover
{
	background: #dddddd;
}
.transformSelect input[type=checkbox]
{
	position: relative;
	top: 2px;
	margin: 0 5px 0 0;
	cursor: pointer;
}
/* Radio */
.trans-element-radio
{
	display: inline-block;
	*display: block;
	zoom: 1;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.trans-element-radio.checked
{
	background: no-repeat url(../img/chk_on.png) center center;
}
.trans-element-radio.unchecked
{
	background: no-repeat url(../img/chk_off.png) center center;
}
.image img, .trans-element-radio, .trans-element-checkbox, #tristate img
{
	padding: 5px;
	border: 1px solid #dddddd;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	
	vertical-align: middle;
	margin: 0 0 5px;
	
	position: relative;
	behavior: url(js/PIE.htc);
}
/* Checkbox */
.trans-element-checkbox
{
	display: inline-block;
	*display: block;
	zoom: 1;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.trans-element-checkbox.checked
{
}
.trans-element-checkbox.unchecked
{
}

@media screen and (min-width: 1200px){
	
	.container_24{
  	max-width: 1200px;
  	margin: 0 auto;
	}
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ARTICLE PULL QUOTES */
blockquote {
 background: #F5F5F6;
 border: 3px solid #FFFFFF;
 margin: 2em 0;
 padding: 10px 40px 10px 50px;
}
blockquote p:before, blockquote p:after {
 content: "???";
 font-family: serif,times new roman,arial;
 font-size: 25px;
 font-weight: bold;
 padding: 0;
}

blockquote p:before {
 content: "\201C";
 left: 34px;
 margin: -5px 0 0;
 position: absolute;

}
blockquote p:after {
 content: "\201D";
 margin: 0 0 0 5px;
}

blockquote p {
 color: #656565;
 font-family: 'FuturaBT-MediumItalic',Arial,Helvetica,sans-serif;
 font-size: 24px;
 font-weight: 400;
 line-height: 34px;
}


/*added by developer*/
.form label {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    font-family: montserrat,arial;
}
.ajax__fileupload_selectFileContainer input {
    position: absolute !important;
}
html.lt-ie9 #ajaxFileUpload_SelectFileContainer input, html.lt-ie9 #ajaxFileUploadNational input, .ajax__fileupload_selectFileContainer input, #ajaxFileUploadResume input {
	behavior: none !important;
}
html. .ajax__fileupload_selectFileButton {
	margin: 10px;
}

div#ctl00_cphMainContent_ajaxFileUploadNational {
    margin-left: auto;
    margin-right: auto;
}

div#ctl00_cphMainContent_ajaxFileUploadNational_FileStatusContainer {
    font-size: small;
}
#ctl00_uxUtilityNav1_uxSendAFile_lblError {
  color: #df1b23;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  display: block;
}
#ctl00_uxUtilityNav1_uxSendAFile_lblError.error_on {
	background: lightyellow;
}
.ajax__fileupload_topFileStatus
{
    display:none;
}
.ajax__fileupload_dropzone
{
    height:100% !important;
}
.cta-button-wrap-register
{
    width:140px !important;
    float:right !important;
}
#location_register_results_scroll input
{
    width:70px;
}
body{
    top:0px !important;
}
#siteLangImg img{
    height:16px;
}
.skiptranslate {
    display: none;
}
.languageTranslate.skiptranslate {
    display: block !important;
}
.language-table {
    bottom: 22px;
    position: absolute;
    right: 10px;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid;
}
.cs_image_content_wrapper .cs_image_content_desc_lightbox, .fancybox-wrap .cs_image_content_desc
{
    display:none;
}
.fancybox-wrap .cs_image_content_desc_lightbox
{
    display:block;
}
/*to hide repeating items in dxSlider JS plugin*/
li.bx-clone {
    display: none !important;
}
.franchiseLocalTeam img
{
    width:265px !important;
    height:265px !important;
}
.form-required
{
    color:red !important;
}

.insights_case_studies_details_wrapper iframe
{
    border:0px none !important;  
    height:500px; 
}